.dosh {
   background-color: yellow;
}

#header1 {
  color: yellow;
     font-family: 'Lobster', cursive;
}

#header1 span {
    color: yellow;
    text-shadow: 3px 3px 0 #ad2960,
                 10px 10px 0 rgba(255, 255, 255, 0.4);
}

#main_body {
background-color: light-green;}

.shadow {
   text-shadow: 3px 3px 3px green;
}

.border  {
    border: 0.1px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}

.table_border  {
    border-radius: 5px;
    box-shadow: 15px 15px 15px #888888;
}

.button_border  {
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
}

.background-gold {
    background-color: gold;
}

#fadeandscale {
  transform: scale(0.8);
}
.popup_visible #fadeandscale {
  transform: scale(1);
}

.allSeasonsHeader td {
    background-color:cyan;
}

#nextLocation {
    font-weight:bold;
    color: blue;
}

.event-bold {
  font-weight: bold;
  font-size:13px;
}

.event-completed {
    opacity: 0.6;
    font-color: red;
    text-decoration: line-through;
}

.dropdown-menu li {
    font-size: 12px;
}

.poker_button {
  width: 150px;
}

.results tbody tr th {
    text-align:center;
    font-size: 1.0em;
}

.small-table {
    font-size: 11px;
}

#countdown-holder {
    font-size: 1.0em;
    color: blue;
}

#countdown-text {
    font-size: 1.2em;
    color: blue;
}
.menu_year {
    disable:true;
    font-style:italic;
    font-weight:bold;
}

body
{
 background-color: #F0F0F0  ;
 /* background-color: green  ; */

}

.hidden {
    visibility: hidden;
}

.header-center {
    text-align: center;
}

#newsTicker {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 1s;
}

.results tbody tr td {
    text-align:center;
    white-space:nowrap;
}

.donut {
    width: 500px;
    height: 400px;
}





 /*--- ipad ---*/
    /*--- full screen mode ---*/
    @media (device-width: 768px) and (orientation: portrait) {
        .panel {
            height                      : 934px; /*1004-80*/
        }
    }
    /*--- browser mode ---*/
    @media (device-width: 768px) and (orientation: landscape) {
        .panel {
            height                      : 668px; /*748-80*/
        }
    }

  /*--- iphone ---*/
    /*--- full screen mode ---*/
    @media (max-width: 480px) and (orientation: portrait) {
        .panel {
            height                      : 380px; /*460-80*/
        }
    }
    /*--- browser mode ---*/
    @media (max-width: 480px) and (orientation: landscape) {
        .panel {
            height                      : 220px; /*300-80*/
        }
    }

.animate.ng-enter, .animate.ng-leave {
  transition: 500ms ease-in all;
  position: relative;
  display: block;
}

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
  left: 0;
}
.animate.ng-leave.ng-leave-active, .animate.ng-enter {
  left: 500px;
}