<!DOCTYPE html>
<html lang="en" ng-app="player" id="ng-app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="player" content="markL">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../js/playerResults.js"></script>
    <script type="text/javascript" src="../js/charts/charts.js"></script>
    <script type="text/javascript" src="../js/tableSorter.js"></script>
</head>
<body ng-controller="playerController" ng-cloak>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>

        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="event in playerDetails.events"><a href="{{event.url}}">{{event.eventDate}} @
                            {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="player in playerDetails.results | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in playerDetails.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h2>Mark L's statistics and analysis</h2>
        <p>....because you can never have enough tables, charts and graphs.</p>
        <p>&nbsp;</p>
    </div>
    <div class="body-content">
        <div class="row">
            <div class="col-lg-8">
                <table class="results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Position</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Win ratio</th>
                        <th>Ave points</th>
                        <th>Ave position</th>
                        <th>Points</th>
                    </tr>
                    <tr ng-show="result.name == 'Mark L'" ng-repeat="result in playerDetails.results | orderBy: ['-points','-won', 'played', 'name']">
                        <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                        <td>{{result.played}}</td>
                        <td>{{result.won}}</td>
                        <td>{{result.won / result.played * 100| number:2}} %</td>
                        <td>{{result.points / result.played | number:2}}</td>
                        <td>{{result.averagePosition | number:2}}</td>
                        <td>{{result.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <table class="results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Tournament No.</th>
                        <th>Position</th>
                        <th>No. of players</th>
                        <th>Points</th>
                    </tr>
                    <tr ng-repeat="event in playerDetails.eventDetails">
                        <td>{{event.eventDate}}</td>
                        <td>{{event.location}}</td>
                        <td>{{event.tournament}}<sup>{{positionSuffix(event.tournament)}}</sup></td>
                        <td>{{event.position}}<sup>{{positionSuffix(event.position)}}</sup></td>
                        <td>{{event.noOfPlayers}}</td>
                        <td>{{event.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
              <table>
                  <tr>
                      <td>
                          <div id="lineGraph_div" style="height: 200px; width: 500px;"></div>
                      </td>
                      <td>&nbsp;</td>
                      <td>
                          <div id="pointsAccumulation_div" style="height: 200px; width: 500px;"></div>
                      </td>
                      <td>&nbsp;</td>
                  </tr>
               </table>
          </div>
          <p></p>
          <div class="col-lg-10">
              <table>
                  <tr>
                      <td>
                          <div id="ladderPosition_div" style="height: 200px; width: 500px;"></div>
                      </td>
                      <td>&nbsp;</td>
                      <td>
                          <div id="pieChart_div" style="height: 200px; width: 500px;"></div>
                      </td>
                  </tr>
                  <td>&nbsp;</td>
              </table>
          </div>
        <br/>

        <div class="row">
            <div class="col-lg-10">
                <div id='chart_div'></div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; BJIT website productions 2013</p>
    </footer>

</div>
<!-- /container -->
<script type="text/javascript" src="../js/controllers/player.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40877102-1', 'iinet.net.au');
    ga('send', 'pageview');

</script>
</body>
</html>