<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="player" content="brianM">
<title>Poker Results</title>
<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/poker.css" rel="stylesheet">
<link href="../css/animate.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="src/css/jumbotron.css" rel="stylesheet">
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<!-- temp local hosting until prod release -->
<script type="text/javascript" src="../js/angular.min.js"></script>
<!-- temp local hosting until prod release -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/animateRows.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>