<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event History<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2021'" ng-repeat="event in statistics.events | orderBy: ['-no']">
                            <a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2021'" ng-repeat="player in statistics.playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in statistics.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <a href="../season/2020Results.html" class="menuMobile" >2020</a>
                        <li class="dropdown-submenu menuNotMobile">
                            <a href="#" class="menuNotMobile dropdown-toggle" data-toggle="dropdown">2020</a>
                            <ul class="dropdown-menu">
                                <li><a href="../season/2020Results.html">Season wrap up</a></li>
                                <li class="menu_year">&nbsp;Events</li>
                                <li ng-repeat="event in statistics.CCXX_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu menuNotMobile">
                            <a href="#" class="menuNotMobile dropdown-toggle" data-toggle="dropdown">2019</a>
                            <ul class="dropdown-menu">
                                <li><a href="../season/2019Results.html">Season wrap up</a></li>
                                <li class="menu_year">&nbsp;Events</li>
                                <li ng-repeat="event in statistics.CCXVIX_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                            </ul>
                        </li>
                        <a href="../season/2018Results.html" class="menuMobile" >2018</a>
                        <li class="dropdown-submenu menuNotMobile">
                            <a href="#" class="menuNotMobile dropdown-toggle" data-toggle="dropdown">2018</a>
                            <ul class="dropdown-menu">
                                <li><a href="../season/2018Results.html">Season wrap up</a></li>
                                <li class="menu_year">&nbsp;Events</li>
                                <li ng-repeat="event in statistics.CCXVIII_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                            </ul>
                        </li>
                        <a href="../season/2017Results.html" class="menuMobile" >2017</a>
                        <li class="dropdown-submenu menuNotMobile">
                            <a href="#" class="menuNotMobile dropdown-toggle" data-toggle="dropdown">2017</a>
                            <ul class="dropdown-menu">
                                <li><a href="../season/2017Results.html">Season wrap up</a></li>
                                <li class="menu_year">&nbsp;Events</li>
                                <li ng-repeat="event in statistics.CCXVII_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                              </ul>
                        </li>
                        <a href="../season/2016Results.html" class="menuMobile" >2016</a>
                        <li class="dropdown-submenu menuNotMobile">
                            <a href="#" class="dropdown-toggle menuNotMobile" data-toggle="dropdown">2016</a>
                            <ul class="dropdown-menu">
                                <li><a href="../season/2016Results.html">Season wrap up</a></li>
                                <li class="menu_year">&nbsp;Events</li>
                                <li ng-repeat="event in statistics.CCXVI_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                            </ul>
                        </li>
                        <a href="../season/2015Results.html" class="menuMobile" >2015</a>
                        <li class="dropdown-submenu menuNotMobile">
                            <a href="#" class="dropdown-toggle menuNotMobile" data-toggle="dropdown">2015</a>
                            <ul class="dropdown-menu">
                                <li><a href="../season/2015Results.html">Season wrap up</a></li>
                                <li class="menu_year">&nbsp;Events</li>
                                <li ng-repeat="event in statistics.CCXV_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                            </ul>
                        </li>
                        <a href="../season/2014Results.html" class="menuMobile" >2014</a>
                        <li class="dropdown-submenu menuNotMobile">
                            <a href="#" class="dropdown-toggle menuNotMobile" data-toggle="dropdown">2014</a>
                            <ul class="dropdown-menu">
                                <li><a href="../season/2014Results.html">Season wrap up</a></li>
                                <li class="menu_year">&nbsp;Events</li>
                                <li ng-repeat="event in statistics.CCXIV_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                            </ul>
                        </li>
                        <a href="../season/2013Results.html" class="menuMobile" >2013</a>
                        <li class="dropdown-submenu menuNotMobile">
                            <a href="#" class="dropdown-toggle menuNotMobile" data-toggle="dropdown">2013</a>
                            <ul class="dropdown-menu">
                                <li><a href="../season/2013Results.html">Season wrap up</a></li>
                                <li class="menu_year">&nbsp;Events</li>
                                <li ng-repeat="event in statistics.CCXIII_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="../statistics/statistics.html">Statistics</a>
        </div>
    </div>
</div>