<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="05_10_2013">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
    <menus data-ng-controller="menusController"></menus> <!-- Custom directive to show all the menu items - see js/directives/menus.js for details -->
    <div class="container">
        <div class="jumbotron table_border">
            <h2>The "Battle at Paul's House"</h2>

            <p>&nbsp;</p>

            <p>.....New table....new blinds...new rules....new winner</p>
        </div>
        <div class="body-content">
        <div class="row">
            <div class="col-lg-5">
                <div>
                    <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                        <tr>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Game</th>
                            <th>Players</th>
                        </tr>
                        <tr>
                            <td>{{tournaments.tournamentOne[0].eventDate}}</sup></td>
                            <td>{{tournaments.tournamentOne[0].location}}</td>
                            <td>{{tournaments.tournamentOne[0].tournament}}</td>
                            <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Points</th>
                        <th>Won</th>
                    </tr>
                    <tr ng-show="result.event == 4 && result.tournament == 1"
                        ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                        <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.points}}</td>
                        <td>{{result.cash | currency}}</td>
                    </tr>
                </table>
            </div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Bounty Winner</th>
                </tr>
                <tr>
                    <td>No-one! Bounty jackpot rolls over to the next tournament!</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-7" style="padding-left:100px">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Win Ratio</th>
                        <th>Ave Points</th>
                        <th>Ave Position</th>
                        <th>Points</th>
                    </tr>
                    </tr>
                    <tr ng-repeat="result in results.eventTables[4] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                        <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.played}}</td>
                        <td>{{result.won}}</td>
                        <td>{{result.won / result.played * 100 | number:2}} %</td>
                        <td>{{result.points / result.played | number:2}}</td>
                        <td>{{result.averagePosition | number:2}}</td>
                        <td>{{result.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
        <div class="row">
            <div id="commentary">
                <h3 style="color:black">Commentary</h3>
                <p>
                    <div class="col-lg-4" style="float:right;">
                        <table>
                            <tr>
                                <td><img src="../images/20101005_pauls.jpg" class="border" alt="picture1" style="float:left;"></td>
                            </tr>
                            <tr>
                                <td style="padding-left:60px; font-size:8pt; align: center;">Winners are grinners!</td>
                            </tr>
                        </table>
                    </div>
                    The 4th poker event was hosted at Pauls with 8 players nervously awaiting the recommencement of the battle of the baize.
                    Everyone apart from Steve turned up early, happy to indulge in some pre-tournament drinks and vocal banter. Accompanied by some
                    tasty treats with special mention to the culinary delights served up by Mark V and his Sri Lankan rolls and Jade’s spicy pizza (despite Jade
                    having to juggle logistical issues with last minute babysitters).
                    Steve’s absence was explained away later after an communication breakdown left Steve expecting a knock on his door from
                    Mark L on his way through. Mark L though, had ventured straight to the venue, leaving Steve with a lonely walk to the tournament location
                    and missing the first hand.
               </p>
               <p>
                   The official unveiling of the new 10 seater table was well received with players gazing in wonderment at their investment.
                   The arm rests were tested and there was initial dismay when the more refined players realised that the cup holders were not wide
                   enough to support the girth of a wine glass. Paul and Brian thinking outside of the square soon solved the dilemma when the cup
                   holders were removed and happy wine connoisseurs could safely store their receptacles.
               </p>
               <p>
                   The game commenced with the new single tournament and longer blind levels keeping pots at a reasonable rate, but enough interest
                   to elicit some strong bets and decent wins for most players.
               </p>
               <p>
                   The first major chip depletion was suffered by Mark L, who called Brian’s $500 bet after matching the board with a top pair of Kings, but was
                   forced to relinquish the majority of his stack as Brian had the nut flush after the turn card. Not having many chips left, he kindly donated
                   the remainder of his stack to other players, and received his first top-up before the first break.
               </p>
               <p>
                   Returning from the break with blinds up to $25/$50, the pots were now tickling the temptation neurons to levels that increased the potential longevity of winning players
                   stacks. Dave was trying to keep his stack from being blinded out but was ruing a missed opportunity after folding his cards to some aggressive pre-flop betting, but would have hit a full house had he have stayed in.
               </p>
               <p>
                   Confused conversation with two Marks at the table, required an alternative moniker to aid the proceedings, and Mark L’s self-titled choice of pseudonym was the
                   source of many comedic moments throughout the night, but did allow differentiation between the two players.
               </p>
               <p>
                   Again, Mark L was losing chips faster than an unattended fish and chip meal at a beach full of seagulls, and was again given his secondary chip up before the second break.
               </p>
               <p>
                    Level 5 now registered blinds at $100/$200, which upped the pot sizes to levels that had players salivating for a win. Level six saw the return of the ante’s with pots before any
                   betting now offering a minimum $1000 return, so it was not long before players stacks were going to take more of pounding than a lightweight boxer in the ring with Mike Tyson.
               </p>
               <p>
                   Steve was getting close to elimination with only $600 left and was pondering whether to sacrifice $100 to allow an early re-buy,
                   but managed to get some good cards that instead chipped up his stack level. Brimming with over confidence, Steve allowed
                   Mark L to push in his chips into the middle for him on multiple occasions, but he soon lost his stack and delved into Mark L’s wallet to re-buy some more.
                   His personal loan (at a very competitive interest rate) did not pay off though, and showcasing efficient time management, he was the last to turn up and first out! Jade was also
                   waiting for two good starting cards as his stack was decreasing at an alarming rate and was forced to go all in, but unfortunately didn’t
                   get the luck required and was out in 7th.
               </p>
               <p>
                   Returning from the third break, there was a significant reduction in general banter, as people realised that only intense
                   concentration was going to keep them in the game. With blinds at $500/$1000 with a $100 ante, the pointy end of the tournament
                   soon saw a glutton of casualties. Dave, despite some good early wins was next out followed closing by Mark L, leaving four players
                   and Mark L kindly taking on the dealer responsibility.
               </p>
               <p>
                   Brian’s stack was moving into the warning zone, but he hit top pair on the flop and went all in. Mark V on straight draw needed a 5
                   to complete the straight. The turn card didn't help anyone and with with one card to come, Mark V was facing odds of approximately 11 to 1
                   against to take down the pot. Brian was confident of a good chip up, but was dismayed as the guest dealer
                   Mark L turned over the heart stopping 5, leaving Mark V to rake in the large pot and take him into the
                   last 3 as the chip leader (Grrrr – poker can be cruel at times).
               </p>
               <p>
                   Paul, Mark V and (surprise, surprise) Ben, were now left to take out the top 3 bonus points. No deals were to be struck, and Ben
                   was pushing in large amounts of chips ominously but Paul matched his bets all the way. The forlorn looking Ben grimacing as he turned over
                   pocket deuces, with Paul's beguiling smile accompanied with the revealing of pocket Aces. Now Ben’s stack was under pressure, and
                   it wasn’t long before he chanced his luck with an all in that did not hold out and was out in third.
               </p>
               <p>
                   Despite the clock indicating Sundays arrival (thanks to Paul moving it forward an hour for daylight savings), the two remaining
                   players saw large chip amounts moving in each direction as the large blinds were folded on multiple occasions. Mark L suggested a 15
                   minute finish time, but both players soon were in hand with Paul taking a massive chunk from Mark V’s stack. Mark V was hoping
                   to grab his third win in 5 games, but Paul having home advantage was relishing his consecutive top two battle and could smell blood.
                   The 15 minute time box was nearly up, but Paul was relieved to see two good starting cards so he pushed all in.  Mark V called,
                   but the flop, turn and river all favoured Paul's suited Ace Ten and Paul took Mark V's remaining chips, allowing Paul's continuation of his upward
                   momentum in form and first win after 7 games.
               </p>
               <p>
                   Thanks have to go out to Paul for hosting the event. Solving logistical issues like furniture and family removal, allowed the new table to supply
                   the professional looking venue. Also being the winner and  bounty hunter target means the jackpot rolls over to the next tournament.
               </p>
               <p>
                   The ladder still shows Ben on top (57 points) with a very healthy 14 point lead to the next player (which will take at least 9 players at the next event
                   with Ben having to come last to allow any other players to bridge the gap). Paul’s spectacular form sees him move up 2 places and nestle into the 2<sup>nd</sup>
                   spot with 43 points, whilst Mark V and Brian are tied for 3<sup>rd</sup> on 36 points, (but Mark V officially third as he has a better average
                   having played less games). Jade drops two places to 5<sup>th</sup> on 33 points and Steve also drops one place to 6<sup>th</sup> on 30 points. Mark L’s position
                   did not match his pre-tournament email confidence and stays in 7<sup>th</sup> place with 22 points, ahead of Dave (20 points), with Simon’s return from overseas
                   pending his potential to increase his points and 50% win ratio.
               </p>

                <p>Event 5.....Can Ben get a win? Ooh. the pressure!</p>
            </div>
        </div>
    </div>
    </div>
    <div data-ng-include="'../templates/footer.html'"></div>
    </div>
    <script type="text/javascript" src="../js/controllers/events.js"></script>
    <script type="text/javascript" src="../js/controllers/menusController.js"></script>
    <script type="text/javascript" src="../js/directives/menus.js"></script>
    <script>
          document.getElementById("currentYear").innerHTML = new Date().getFullYear();
    </script>
    <div data-ng-include="'../templates/googleAnalytics.html'"></div>
</body>
</html>