<!DOCTYPE html>
<html lang="en" ng-app="event" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="06_07_2013">
    <meta name="noOfTournaments" content="2">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>

        <!-- Menus -->
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event History<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2014'" ng-repeat="event in results.events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2014'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in results.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2013 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../season/2013Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in results.previousEvents | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2013'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">

<div class="jumbotron">
    <h2>The "Battle at Steve's House"</h2>

    <p>&nbsp;</p>

    <p>.....Poker, sport, sport and poker</p>
</div>
<div class="body-content">
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Game</th>
                    <th>Players</th>
                </tr>
                <tr>
                    <td>{{tournaments.tournamentOne[0].eventDate}}</sup></td>
                    <td>{{tournaments.tournamentOne[0].location}}</td>
                    <td>{{tournaments.tournamentOne[0].tournament}}</td>
                    <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-3">
        <div>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Game</th>
                    <th>Players</th>
                </tr>
                <tr>
                    <td>{{tournaments.tournamentTwo[0].eventDate}}</sup></td>
                    <td>{{tournaments.tournamentTwo[0].location}}</td>
                    <td>{{tournaments.tournamentTwo[0].tournament}}</td>
                    <td>{{tournaments.tournamentTwo[0].noOfPlayers}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Points</th>
                </tr>
                <tr ng-show="result.event == 3 && result.tournament == 1"
                    ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                    <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Bounty Winner</th>
                </tr>
                <tr>
                    <td>Steve W</td>
                </tr>
            </table>           `
        </div>
    </div>
    <div class="col-lg-3">
        <div>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Points</th>
                </tr>
                <tr ng-show="result.event == 3 && result.tournament == 2"
                    ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                    <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Bounty Winner</th>
                </tr>
                <tr>
                    <td>Steve W</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Win Ratio</th>
                    <th>Ave Points</th>
                    <th>Ave Position</th>
                    <th>Points</th>
                </tr>
                </tr>
                <tr ng-repeat="result in results.eventTables[3] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                    <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.played}}</td>
                    <td>{{result.won}}</td>
                    <td>{{result.won / result.played * 100| number:2}} %</td>
                    <td>{{result.points / result.played | number:2}}</td>
                    <td>{{result.averagePosition | number:2}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div id="commentary">
        <h3 style="color:black">Commentary</h3>

        <p>
            <img src="../images/20130706_a.jpg" alt="picture1" style="float:left; padding:10px"> The third poker
            tournament eventually had 8 players despite the threat of all 10 invitees turning up at one point. The
            previous events 6 players
            returned along with Dave M and newcomer Simon M joining in the fun and games. A night of poker coupled
            with the British Lions rugby,
            Geelong versus Hawthorn and the Wimbledon ladies final meant there was plenty on offer for the
            testosterone laden household.
            <img src="../images/20130706_b.jpg" alt="picture2" style="float:right; padding:10px">
        </p>

        <p>
            Mark V was the target of the bounty prize but early on into the first game it was looking like he may
            take out first place again as he had several winning hands to increase his chip stack.
            The betting was at a moderate level letting lots of people to see the flops during the early games, but
            subsequent betting rounds soon weeded out the chaff.
            Lots of good winning hands including full houses, flushes and straights, but on more than one occasion
            the final two players both turned over nothing more than high cards
            which no doubt would have been won by another player had they stayed in!
        </p>

        <p>
            Into rounds four and five, and the blinds were now starting to hurt peoples stacks but some large pots
            moving in Paul, Jade's, Dave's and Ben's direction kept
            their chip stacks healthy. Into round six and the game experienced the first casualty with newcomer
            Simon losing all his chips.
            By the second break, Brian, Steve and Mark all decided to re-buy as their stacks were below $500 with
            the hope of hitting some good luck
            after the rest.
        </p>

        <p>
            Returning from the break, the poms were smiling as the Lions had won the final rugby game, and may have
            caused some distraction as it wasn't long
            before the previous events double champion Mark V was next out. Despite some good early wins, some
            unlucky losses to slightly higher cards saw his chips depleted with
            Steve having the honour of taking his last chips and winning the first bounty. Brian didn't last much
            longer as his chip stack was being blinded out with no
            decent cards to play. The final five players kept plugging away but into round 8, the blinds were at a
            massive $500, $1000 with a $100 ante so it
            wasn't going to last much longer. After seeing his previously won chip stack depleted, Dave was next out
            in 5th, followed by Steve in 4th
            just missing out on the bonus points but at least left pondering how he would spend the massive bounty
            prize!
        </p>

        <p>The last three players Jade, Ben and Paul were now being forced into decisions about their cards as the
            blinds were now $1000, $2000 with a $200 ante.
            Not having much choice Paul was all-in with his remaining chips, but his cards were not good enough to
            hold on, and was out 3rd. A few more
            hands saw Ben's chips moving towards Jade's stack before a deal was struck to end the game with Jade
            crowned the victor and Ben returning to his rightful
            second position...."Always the bridesmaid.....never the bride", but you cannot argue with the
            consistency!
        </p>

        <p>
            Tournament two recommenced with Paul smiling after a 10 point Cat's win, but he had to concentrate as again
            the first hand went into a betting frenzy.
            Culminating with a $500 bet from Mark (50 times the big blind and half his stack), his bet was called,
            but this time, Mark didn't have the luck so was not off to his customary flying start.
            Lots of paired boards, with the flop showing two 9's on three occasions meant all kinds of interesting
            potential hands. Jade was betting strongly
            but hoping that his high kicker card was enough to take down the pot but missing out to other peoples
            cards that completed full houses.
        </p>

        <p>
            Before the first break Jade was given his secondary $1000 as he lost of all his chips, and Simon
            observing how Jade won the first tournament, must
            have been following his tactics closely as he also lost his chips and was given another $1000.
        </p>

        <p>
            Returning from the first break with everyone cashed up and lots of empty wine bottles, stubbies and cans
            showcasing the state of sobriety,
            no doubt influenced the betting patterns. Jade was soon forced to re-buy as the table area in front of
            him was bereft of chips. Being the
            new bounty target had people salivating at the potential windfall and it wasn't long before Steve again
            pounced on the wounded prey and meant
            and early exit for Jade. From first place to last place, but he did have the fallback of the tennis to
            watch in the adjoining room.
        </p>

        <p>
            Like King Canute trying to hold back the tide, peoples stacks had no respite from the ever increasing
            blinds and despite the glow of the double
            bounty hunter, Steve was next out in 7th. With Jade providing running tennis commentary especially with
            reference to the world breaking
            rotundness of one of the players, Dave was next out in 6th followed closely by Brian in 5th.
        </p>

        <p>
            Simon was now starting to find some form and won four hands in a row promoting him to chip leader. This
            left Mark perilously close to elimination
            and indeed he could not hold on and was out in 4th. Simon, Paul and the customary high finishing Ben
            were left in the top three but Simon was playing
            his cards well and not letting the others get a foothold. Ben was pushing in chips dominantly but could
            not hold off the attacks from both
            Paul and Simon and was out in 3rd, giving him more bonus points for the ladder.
        </p>

        <p>Previous event form meant nothing to Paul as he fought it out on the big stage in front of jealous
            spectators. Jade returned for moral
            support and informed the congregation that the wimbledon winner had no trouble lifting the trophy.</p>

        <p>The clock was again highlighting how Saturday had given way to it's neighbour Sunday, but everyone stayed
            as massive blinds were soon going to deliver
            a winner. Simon's larger stack had some protection from the onslaught, and was enough to see off a
            determined Paul who was desperate for a win.
            The last hand was played with Paul pushing all his chips into the middle, but his cards were no match
            for Simon's normally folded 6-3 off suit which paired the board and
            fended off the final attack. Simon was basking in the early morning glory after so nearly going out in
            the early rounds but was crowned the worthy winner.
            A massive second tournament improvement as he went from last to first (The polar opposite of Jade for
            the night). Another newcomer, and another winner. It's what brings them back for more!</p>

        <p>So what can we say after another successful event. Firstly, thanks to Steve for providing the location
            and ice bucket conducive to a good
            nights play.</p>

        <p>The ladder is now starting to take shape and clearly showing Ben as the most consistent player so far,
            but still seeking that elusive win
            for the icing on the cake. Jade soars up to joint 2nd place with Brian, both on 31 points (only shown as
            third as sorted by alphabetical order), and would
            have been second outright with any higher placing in the second game.
            Paul might be similar to Geelong's style, who often start slowly, as his momentum catapulted his ladder
            placement northwards from 8th to joint 4th place
            (On the same points as Steve, but higher until Steve changes his name by deed poll to Aardvark or
            something similar).
            Mark V (who could not quite reproduce his first events success) rounds off the congested middle of the
            table, with a small gap to the remaining players. Mark L ready to move up from 7th place
            (if he can sort out his diary arrangements), extra consolidating points for Dave and positive early
            points for Simon round off
            the top 9 placings. Obviously we still await the return of Mark L, who can make a claim to the top dog
            moniker if average points per
            game were chosen as the metric!
        </p>

        <p>Event IV.....It's gonna be bigger, better, maybe earlier and coming to a house near you soon....</p>
    </div>
</div>

</div>
<footer>
    <p>&copy; BJIT website productions 2013</p>
</footer>

</div>
<!-- /container -->
<script type="text/javascript" src="../js/controllers/events.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40877102-1', 'iinet.net.au');
    ga('send', 'pageview');

</script>
</body>
</html>