<!DOCTYPE html>
<html lang="en" ng-app="event" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="14_06_2014">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>

        <!-- Menus -->
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event History<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2015'" ng-repeat="event in results.events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2015'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in results.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2014 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../season/2014Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in results.CCXIV_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2014'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2013 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../season/2013Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in results.CCXIII_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2013'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="../statistics/statistics.html">Statistics</a>
        </div>
    </div>
</div>
<div class="container">

<div class="jumbotron table_border">
    <h2>The "Inaugral Battle at Mark L's house"</h2>

    <p>&nbsp;</p>

    <p>.....Altitude poker location, card trickery and hygiene techniques....</p>
</div>
<div class="body-content">
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Game</th>
                    <th>Players</th>
                </tr>
                <tr>
                    <td>{{tournaments.tournamentOne[0].eventDate}}</sup></td>
                    <td>{{tournaments.tournamentOne[0].location}}</td>
                    <td>{{tournaments.tournamentOne[0].tournament}}</td>
                    <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Points</th>
                    <th>Won</th>
                </tr>
                <tr ng-show="result.event == 9 && result.tournament == 1"
                    ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                    <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.points}}</td>
                    <td>{{result.cash | currency}}</td>
                </tr>
            </table>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Bounty Winner</th>
                </tr>
                <tr>
                    <td>{{tournaments.tournamentOne[0].bountyWinner}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Win Ratio</th>
                    <th>Ave Points</th>
                    <th>Ave Position</th>
                    <th>Points</th>
                </tr>
                </tr>
                <tr ng-repeat="result in results.eventTables[4] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                    <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.played}}</td>
                    <td>{{result.won}}</td>
                    <td>{{result.won / result.played * 100| number:2}} %</td>
                    <td>{{result.points / result.played | number:2}}</td>
                    <td>{{result.averagePosition | number:2}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div id="commentary">
        <h3 style="color:black">Commentary</h3>

    </div>
</div>

    <p>Firstly there was true admiration from the host as - one by one - the participants of the poker night made their way from the protected confines of ‘The Park’  (aka Wobblersville or Hollywood) through dangerous streets to the outer rim. Well done for that brave act - trophies to all.</p>

    <p>(Author’s note  - I can’t pen a story in the 3rd person - so I am going to return to first person … )</p>

    <p>Prior to the start time of 6.30 … I sent the bride off and had the house to myself from about 4.30 bells …this was good … as I was able to finalise gourmet delights and make the gravy (KFC style) … but upon returning with said gravy … I started on the whiskey and dry … I was well-lubed by the time the poker started … :-)</p>

    <p>When the weary travellers arrived, clearly thirsty and hungry - slow-cooked lamb and pork was unveiled and did the boys show a good fang! Led by Jade - it was like ravenous wolves were unleashed - with clearly only Mark V appreciative of the cooking technique (asking polite and appropriate questions) the others just grunted as they inhaled copious amounts of dead animal.</p>

    <p>7.35 bells and the game starts ….(with Brian only a little bit agitated that we are already 5 minutes over time) …but alas, it was a quiet start - so to liven things up, I did the famous mis-deal trick ….it’s an old poker trick where you fcuk up the deal numerous times just to get people smiling. It was a small sacrifice - although, some players actually took me seriously …but I would enact sweet revenge later in the evening … funnier still - Steve caught the bug and fcuked up the next deal too. Unfortunately for Steve - the joke was over and alas - people just thought he was amazingly silly - indeed, big Andy just shook his head</p>

    <p>Actually - on Andy - he has the quiet, disapproving head shake down pat! Quite ominous - shit card player though.</p>

    <p>The game meandered …</p>

    <p>8.23 bells … stray geese arrived at the table in the form of Steve and Jade …Mark V - sat calm and collected minding about 16 cents worth of chips when he had a reasonable hand and decided to go all in … I still don’t know who won be because the table was in uproar - ‘How can there is 6 fours in one deck’  “It’s nooort fcuken raaart’ says Jade (not for the first or last time) …and the Steve chimes in “Yeah - how does that work - is there a special poker deck where there is 6 on the one card’</p>

    <p>Fcuk me ….. yep, Brian shook his head vigourously … Andy shook his ominously …and Paul and I just looked at each other and said ‘fcuk me’ or words to that effect …perhaps it was ‘fcuk us’ but that just sounds odd</p>

    <p>Ben said not much … the game meandered ….</p>

    <p>Too liven things up .. Brian started to do some park-style Hollywood stuff with the deal … dealing and flipping cards like a female with big tits - which would be great if you were a female with big tits …  Then he started to add Star Wars sound effects as he flicked cards about …which would be great if you were Princess Leia ….with big tits</p>

    <p>The game meandered ….</p>

    <p>21.10 … something amazing happened because I wrote … “Wow Wee!’ cue Brian Taylor but in all truth …I have got to idea what happened! (Your author was getting pretty pissed by this stage …  anyway well done for whoever did something special - I think it was Ben who has the first of 28 Ace pairs for the night ...</p>

    <p>21.24 - something else good happened - I think Mark V won a hand with 2 queens but that could be related to the note above</p>

    <p>21.43 - something really, really good happened because Paul quoted “Oh, that’s the win of the night” “Brilliant , courageous"  … sounded like a commentator on “Pot Black” - ( I whispered to Paul that "courage and stupidity were known bed pals" … so, I am not sure what happened but I think it was Mark V or Jade won with Aces Queen High …)</p>

    <p>but the game was now on ….no meandering … more a spritely trot….</p>

    <p>21.46 Bang! Ben gets loud …the table hushes … he smashed everyone off the table holding 2 aces …. and collects Bang! but he did it serenely, not even  a wobble - the cards were loud and he let them make his noise …. that’s style</p>

    <p>…and a shit load of luck</p>
    <p>…and the night starts to get dark….</p>

    <p>Jade started to talk about  his cock! Out of the blue - just like that …  “Lads, I want to talk cock! …   and how because he knows a thing or two ‘about fcuken hygiene’ … you wash your hands before you put the horse back in the stable …. well of course …not. Indeed, Jade was the only person at the table - indeed - in this country -  that has perfected the art of somehow flipping his cock back into his pants without touching his jeans …. I imagine its some kind of hip flip - which will cause injury when he get older but … for now … it means he can wash his hands without touching his old fella … me, I know where my cocks been - happy to handle it …. indeed, generally gave it an itch or two when I was preparing your food.</p>

    <p>anyway - something else went bad for Jade because he then ripped three quotes on the trot …</p>

    <p>“Bollocks - I think its just unbelievable”</p>
    <p>“It’s Mad”</p>
    <p>“It’s just mort fcukaarn raarrt”</p>

    <p>and by the way…. Jade was leading at this time … this was when things were good in his life … he started chewing lemons a bit later when the cards turned sour</p>
    <div class="col-lg-4" style="float:right;">
        <table>
            <tr>
                <td><img class="border" src="../images/20140615_mark_l_1.jpg" alt="" style="float:left;"></td>
            </tr>
            <tr>
                <td style="font-size:8pt; align: center;">Palpable tension and concentration during the finale heads-up</td>
            </tr>
        </table>
        </div>


    <p>22.25 bells…Andy spat the dummy — no more quiet head shakes …he’d had enough “All In” he says with a wry smile …actually he sooked up a treat ..”I’ve only won one hand all night” then goes all in on total poxness (‘total poxness’ - is a technical term for not great cards) suffice to say Andy first out ….8th</p>

    <p>The game had now cracked a jog ….</p>

    <p>22.32 - Mark V - cactus …goodnight 7th …this was all rather odd because I won this hand with something that was un-loseable …not because of the great cards but because I told everyone what was happening !! …and Mark V - still went all in  … brave ? Still I was corrected by Brian - my win wasn’t guaranteed - Mark could have 'played slow’ …yeah right - there are only 2 people that know poker at this table - Ben and Brian - if Mark is playing slow… it’s because he’s trying to figure out what is happening ….indeed, on this hand - the 2 Mark’s were trying to figure out what was happening …. anyway - suffice to say - I figured it out first … Goodnight Mark V!  (Note - Ben, Playing Slow has a big part to play in this nights story …  I am not a fast learner …. )</p

    <p>22.37 - Ben - 2 aces in hand again !! for the 29th time that night …this time it was loud …a ‘how does get fcuked’ style flip of his cards and bang - he cleans  up again ….Paul and I discuss the worlds great magicians and can’t think of any … Houdini …but Paul rightly corrects the record …’Escape Artist’ … someone says ‘Copperfield’ but he’s not good enough for Ben …nup - it’s just ‘ 2 Ace Ben - The Magician'</p>

    <p>22.47 - Brian has his highlight of the night - great win Queens/Aces - takes biggest pot of the night … and he sat back quietly proud; yours truly would dim the glow of his win in a few minutes …</p>

    <p>23.00 - I go sick … sucking the air out of the room with some stella play, guts, determination …..oh, and a tad of luck —— as I ripped out the night’s (infact, probably 2014’s greatest win) as a Jack flipped into the river and I walked away with at Straight … cue the fcuking big band ..horns everywhere</p>

    <p>23.22 - I suck the air from the room …again …with play that can only be described as breath-taking - (Hey - if you guys want to blow wind up your won arse - write the minutes next time) …anyway - I knocked Brian into oblivion … Kings - 4 high ….to 2 high …Good Night Brian 6th … and I got some prize … not sure why but $14 came my way for beating Brian …still not sure why</p>

    <p>23.40 - 2 Aces Ben again!!</p>

    <p>23.46 - Good night Paul 5th - cannot remember how but he was eloquent and polite in his speech …</p>

    <p>Sometime soon after - Good Night Jade 4th - Jade was not eloquent nor nice in his speech  “Bollocks - this is not a game of skill just luck - Bullocks”</p>


    <p>12.07 - Steve’s Cactus 3rd place  - can’t remember how - but he was Polite and eloquent in his speech … actually he said nothing and just folded his arms ..trying to be quietly intimidating like Andy… but looking more like he just wanted to throw the dummy out of the cot.</p>
    <div class="col-lg-4" style="float:right;">
      <table>
          <tr>
              <td><img class="border" src="../images/20140615_mark_l_2.jpg" alt="" style="float:left;"></td>
          </tr>
          <tr>
              <td style="font-size:8pt; align: center;">1st place and super bonus winner Ben - Show him da money!</td>
          </tr>
      </table>
  </div>
    <p>…..the finale … 2 Aces Ben the Magician up against yours truly with me starting with so many chips that I had to stand to see my opponent … Ben was brilliant - he eroded my piles (that’s actually a medical term … and a little off-putting when you think about it … ) anyway with brave play Ben eroded my pile and soon it was even … the game ebbed and flowed …. tension filled the air … we’ll at least for Ben and I - the others just wanted out, home, bed, cot  …
    But then a stroke of brilliance …. Ben Played slow on Kings and sucked me into an All -In on a pair of 2’s … Ben - too good …I never felt in control … at the end … a stroke of genius - the stroke of ’The Magician’</p>

    <p>Good Night Leopold … 2nd</p>

    <p>Well done Ben - The Winner</p>


    <p>Another great night boys - thanks to all…. and not much of the above reflected what went on :-)</p>

    <p>until next time….</p>


</div>
<footer>
    <p>&copy; BJIT website productions 2014</p>
</footer>

</div>
<!-- /container -->
<script type="text/javascript" src="../js/controllers/events.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40877102-1', 'iinet.net.au');
    ga('send', 'pageview');

</script>
</body>
</html>