<!DOCTYPE html>
<html lang="en" ng-app="event" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="03_05_2014">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>

        <!-- Menus -->
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event History<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2014'" ng-repeat="event in results.events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2014'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in results.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2013 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../season/2013Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in results.previousEvents | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2013'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="../statistics/statistics.html">Statistics</a>
        </div>
    </div>
</div>
<div class="container">

<div class="jumbotron table_border">
    <h2>The "Inaugral Battle at Mark V's house"</h2>

    <p>&nbsp;</p>

    <p>.....New Venue...New Players....BBQ Feast and inappropriate stories galore....</p>
</div>
<div class="body-content">
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Game</th>
                    <th>Players</th>
                </tr>
                <tr>
                    <td>{{tournaments.tournamentOne[0].eventDate}}</sup></td>
                    <td>{{tournaments.tournamentOne[0].location}}</td>
                    <td>{{tournaments.tournamentOne[0].tournament}}</td>
                    <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Points</th>
                </tr>
                <tr ng-show="result.event == 8 && result.tournament == 1"
                    ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                    <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Bounty Winner</th>
                </tr>
                <tr>
                    <td>{{tournaments.tournamentOne[0].bountyWinner}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Win Ratio</th>
                    <th>Ave Points</th>
                    <th>Ave Position</th>
                    <th>Points</th>
                </tr>
                </tr>
                <tr ng-repeat="result in results.eventTables[3] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                    <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.played}}</td>
                    <td>{{result.won}}</td>
                    <td>{{result.won / result.played * 100| number:2}} %</td>
                    <td>{{result.points / result.played | number:2}}</td>
                    <td>{{result.averagePosition | number:2}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div id="commentary">
        <h3 style="color:black">Commentary</h3>
<p>
    Poker returned to "The Square" at a new venue with the host with the most Mark V welcoming 7 players to a pre-game BBQ. Buffalo wings and prize
    winning fire breathing snags which had anecdotal evidence of the day after "white man sting in their tail" were gratefully
    consumed over a cold one. Two new players were offically unveiled, Junior and Simon M who due to copyright naming conflicts was
    renamed to Simon W, in honour of his albino pet 'W'ombat, and who was hoping for a windfall in the poker to offset the
    mammals expense ledger.
</p>

<p>
    For consecutive events, Jade was chosen as the random 'Super bonus' player hoping to take down the massive rollover pot, and
    with gastric juices working overtime from Mark V's culinary offering, players safely stored their receptacles ready for the nights game.
</p>

<p>
    The first hand did not fail to deliver with newbie Junior taking down a reasonable pot with a full house. Simon must have
    been quickly studying Juniors flying start and the second hand also saw him take down a good size serve of chips with another
    full house. And just to complete the trifecta, the third hand also ended with a full house and exposing Juniors attempted
    bluff along the way. The game of attrition was already on, with some of the regulars wondering what they had let themselves
    in for with the new player dynamics.
</p>

<p>
    Junior tried out the cup holders tolerance level with his beer, as the beer Samba'd out of the holder onto the felt and Brian's cards,
    but the table and card quality shone through as if nothing had happened.
    Dave's error prone dealing was receiving some friendly derision, but Jade didn't mind as his pocket aces held out against Dave's pocket
    Kings. With Brian stating that the odds of being dealt aces was approximately 220 to 1, the next hand gave Junior pocket aces
    (75% of statistics are made up - much like this commentary), and with Mark V and Brian holding Kings with a K44 flop, the hand was going to be interesting.
    Brian bailed sensing danger that someone might be holding a 4, but Mark V sniffing a bluff held in to the end to see Juniors
    contented smile as he flipped over his winning cards. Mark V did get though go into the break as the chip leader as he relinquished
    Jade of some of his stack after beating Jade's 3 of a kind with a flush, leaving Jade protesting "it jost aint roight that a @#&!% flush
    beats a @#&!% 3 of a kind".
</p>

<p>
    The second hour recommenced with Brian and the intensely concentrating Ben seeing very little of the action. Simon soon found himself
    all in against Mark V, but Simon's flush was no match for yet another full house, thus allowing Simon to receive his secondary chip up nearly
    an hour before other players.
    Another massive hand saw a three way battle between both Mark's and Simon. Mark L holding K,Q, Simon K,5 and Mark V 10,5
    against a K,10,10 flop was only going to end in tears. With the turn and river card not helping anyone to improve their hand, Mark V
    managed to drain plenty of his combatants stacks.
</p>

<p>
    Jade was the lucky recipient of pocket aces for his second time of the night, but this time came unstuck as Mark V took out the pot
    with 3 of a kind to go into the second break as the clear chip leader. Jade was again ruing his bad luck, but consoled himself
    with another beer.
</p>

<p>
    With blinds now at $100/$200, every decision was having major impacts on players chip balances, but Dave was having some
    success to keep his stack heading in the right direction. The hand of the night had to be
    Dave dealing out three tens on the flop. With Jade holding two of a kind, an instant full house was surely going to see him paid off.
    Only Mark V holding a 10 in his hole cards was going to give him grief, and with Mark V only calling Jade's bets all the way suggested Jade
    was looking likely to create a bingle in Mark's stack. With all of Jades chips now off on vacation in the centre of the table, we all
    know what happens next. Mark V flipped the 10 and Jade exited the game in last place, looked up to the heavens, exhausted his supply of expletives, and cracked open
    yet another beer to drown his sorrows. His demise means the super bonus rolls over to the next event and is now starting
    to mature into something that will no doubt have a welcoming recipient down the track.
</p>

<p>
    Simon who had almost gone out earlier had clawed back some chips, but was now being blinded out to the point that he could not hold out
    and was next out in 7th place. Junior's early Brazilian flair had run out of steam quicker than an empty kettle and he also suffered a similar fate despite his
    ongoing bluffing attempts and finished his night in 6th place. The new boys had shown that they are more than capable of playing the
    game and will be welcome additions to future events.
</p>

<p>
    With blinds and antes now putting on more pressure than an over inflated bicycle tyre, Ben and Brian (both who who had hardly won a pot all night),
    were heads-up, with the flop kindly offering Ben two pairs, but favoured Brian with a straight! Ben pushed all in, but was snapped called by Brian.
    The turn card helped no-one and the river card gave Brian a full house, rubbing salt into Ben's already painful open wound. Ben was
    consigned to 5th place (declining to comment in the post-game interview) with Brian's stack now heading towards comparable levels with Mark V's.
</p>
        <div class="col-lg-4" style="float:right;">
                  <table>
                      <tr>
                          <td><img class="border" src="../images/20140503_markv_b.jpg" alt="" style="float:left;"></td>
                      </tr>
                      <tr>
                          <td style="font-size:8pt; align: center;">Brian showing off all the chips to the disinterested new players</td>
                      </tr>
                  </table>
                </div>
<p>
    With the top 3 players being paid, the 4th place "bubble" was going to be one of Brian, Mark V, Mark L or Dave. Whether alcohol
    driven over confidence or well timed aggression, Brian was now starting to ask the remaining players bigger questions about their moves.
    With an all-in that Mark V called, Brian took a massive chunk of Mark V's stack, moving Brian into chip leader position. In fact,
    within a few short hands, Mark V's stack was moving away from him quicker than a beer down Jades gullet, and it wasn't long before
    Brian cleaned him out with another all-in, leaving Mark V exiting in 4th spot and looking on jealously at the cash that so
    nearly had his name on it.
</p>

<p>
    Dave was quietly sitting on his previously won chip stack avoiding any major battles, so Brian had the honour of denting Mark L's
    stack to the point that Mark L only had enough for one more blind. The final hand of the night saw the two remaining players calling
    Brian's all in with QJs, after the flop gave Brian top pair, Dave a flush draw, but nothing to help Mark L. With two cards to come,
    Dave was marginally behind to relieve Brian of some of his chips, but did not get the final luck he needed, going out in
    respectable second place with
    Mark L going out in 3rd. Brian's patient game had luckily payed off, and he smiled and posed for the customary picture with all of the $40,000 chips in front of him.
</p>
<div class="col-lg-4" style="float:right;">
  <table>
      <tr>
          <td><img class="border" src="../images/20140503_markv_a.jpg" alt="" style="float:left;"></td>
      </tr>
      <tr>
          <td style="font-size:8pt; align: center;">Exhausted players enjoying Jades legendary tales</td>
      </tr>
  </table>
</div>
<p>
    No-one seemed to want the night to end, with everyone staying to enjoy Jade's canine anecdotes, with Junior suggesting there would be
    plenty of offers for dog sitting in the future, whilst Mark L disappeared into the garden to give Mark V's lemon trees a helping hand.
    A final early morning night cap finally saw the remaining players depart for their doona's,
    although Jade may require a GPS next time as he must have misplaced his normally reliant homing pigeon instincts, but Mark V's gentle
    guidance sending him home in the right direction.
</p>

<p>
    So the ladder is showing Brian now sporting a healthy 14 point buffer to Mark V who stays in 2nd place with 16 points. No change for
    3rd spot with Ben sitting pretty on 14 points, but Dave charges up four places to 4th spot, just one point behind, and having
    played one less game. Mark L joins the ladder in fifth place with a healthy 8 point haul at the expense of Jade, Steve and Simon
    M who drop places respectively. Junior joins the ladder in 9th, with Andy's absence pushing him down a place to 10th and the
    bottom dweller Simon (Wombat) M rounding off the placements.
</p>

<p>
    Thanks to Mark V's hosting skills allowed another fun filled night full of hearty guffaws and healthy banter.
    The camaraderie traction can only increase over the forthcoming events although we might need to invest in an extra
    recycle bin....
</p>
<p>
    Looking forward to the next exciting installment....Vegas anyone? :)
</p>

    </div>
</div>

</div>
<footer>
    <p>&copy; BJIT website productions 2014</p>
</footer>

</div>
<!-- /container -->
<script type="text/javascript" src="../js/controllers/events.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40877102-1', 'iinet.net.au');
    ga('send', 'pageview');

</script>
</body>
</html>