<!DOCTYPE html>
<html lang="en" ng-app="event" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="26_07_2014">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>

        <!-- Menus -->
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event History<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2014'" ng-repeat="event in results.events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2014'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in results.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2013 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../season/2013Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in results.previousEvents | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2013'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="../statistics/statistics.html">Statistics</a>
        </div>
    </div>
</div>
<div class="container">

<div class="jumbotron">
    <h2>The "Wrestle" at the wombats house"</h2>

    <p>&nbsp;</p>

    <p>.....Record breaking attendance, paella feast and late night poker massive blinds....</p>
</div>
<div class="body-content">
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Game</th>
                    <th>Players</th>
                </tr>
                <tr>
                    <td>{{tournaments.tournamentOne[0].eventDate}}</sup></td>
                    <td>{{tournaments.tournamentOne[0].location}}</td>
                    <td>{{tournaments.tournamentOne[0].tournament}}</td>
                    <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Points</th>
                </tr>
                <tr ng-show="result.event == 10 && result.tournament == 1"
                    ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                    <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Bounty Winner</th>
                </tr>
                <tr>
                    <td>{{tournaments.tournamentOne[0].bountyWinner}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--<p>Hello result {{results.eventTables}}</p>-->
    <div class="col-lg-6">
        <div>
            <table class="results table table-striped table-bordered table-condensed table-hover">
                <tr>
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Win Ratio</th>
                    <th>Ave Points</th>
                    <th>Ave Position</th>
                <th>Points</th>
                </tr>
                </tr>
                <tr ng-repeat="result in results.eventTables[5] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                    <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.played}}</td>
                    <td>{{result.won}}</td>
                    <td>{{result.won / result.played * 100| number:2}} %</td>
                    <td>{{result.points / result.played | number:2}}</td>
                    <td>{{result.averagePosition | number:2}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div id="commentary">
        <h3 style="color:black">Commentary</h3>

    </div>
</div>

    <p>The record books will need updating as the "Square poker" attendance record was shattered, with 9 attendees descending
        upon yet another new venue at Simon M's (Wombats). A game of endurance, patience and survival that would last into
        the wee hours of Sunday morning before fatigued drunken players could return to their domiciled abodes.
    </p>

    <p>With a Spanish paella feast offered as pre-game calorie boost, it seemed the perfect choice to warmly welcome the
        Spanish speaking new player Carlos.
    </p>

    <p>As stomachs digested more sea-food than a cat stuck in an acquarium, and the fridge holding enough beer to constitute
        it being called a bottle shop, the preceedings commenced. Junior was chosen as the random bonus winner player,
        although after the last event with Ben taking down the massive prize, meant if Junior were to win, it would not
        mean an early retirement.
    </p>

    <p>The battle soon got off to a flying start with the second hand giving Mark V quad 9's, and taking down a good
        sized pot. This was probably Mark's highlight for the night, as it was downhill faster than a bad skier on a
        black run at Hotham, from there on in. Soon after, Brian received the nights first pocket Aces, and invaded
        Junior's stack pillaging a good dollop of chips as a result.
    </p>

    <p>Jade's alcohol intake must have already been taking effect, as he dealt out 10 people. Soon after, another
        massive hand of the night elicited a flop containing AAK. Simon had trip Aces, Carlos (QK) and Mark V (55)
        both had two pairs, so it was only going to end in tears and tantrums. The turn and river cards helped no-one,
        so Carlos and Mark V's stacks were depleted quicker than a cake at a childrens party.
    </p>

    <p>The community cards were offering straight opportunities on almost every hand, and Dave, Paul, Jade and Junior
        were all happy recipients of reasonable pots to keep their stacks in an accumulation phase.
    </p>

    <p>Into the second hour with stacks replenished by the single and only free chip-up for the night now meant every stack
        was now on the line.
    </p>

    <p>A vociferous outpouring of conversation was instigated after Jade thought he had won a pot. Jade held A3, matching a
        three on the board, but Ben's pocket Queens was clearly the winning hand (well, to 8 of the players). Jade questioned
        whether the rules were changing in the middle of the game, as surely his Ace kicker card meant he was the winner with
        all five cards. Vigourous head shaking, exclamations of WTF and general flummoxed looks suggests it might be time for
        someone to do some background reading :)
    </p>

    <p>It wasn't long before Carlos had his time in the limelight, after the flop offered A33. The turn card was another 3, and with Carlos' grin spread so far over his face that it bumped into his neighbouring players, gave off plenty of warning signals.
        With a small bet from Carlos on the river, Brian holding an Ace decided to "keep him honest" and call. Brian's suspicions
        were confirmed, and for the second time of the night, four of a kind was revealed, but does show how poker is not just
        about the cards. Time to practice those poker faces :)
    </p>

    <p>Dave had been quietly avoiding too many battles all night but decided he had to try to win a hand. Holding two hearts with
        the flop offering one more, meant his outside flush draw might keep him in the game longer. Brian was holding two higher
        hearts, but Mark put in a reasonable bet after the flop that pushed Brian off his hand, but Dave decided to go along for
        the ride. Another heart on the turn card, and the final river giving another heart (known as runner, runner) gave Dave
        just what he'd prayed for, and meant Mark's stack was emptying quicker than a parents wallet at a fun fair. Dave's
        chasing does highlight though, that sometimes you've got to be in it, to win it!
    </p>

    <p>Shortly after, Mark thought his luck was changing as he was paid a visit by "pocket rockets" (AA). Not electing to
        raise pre-flop, Ben limped in with his pocket 2's but then had 3 of a kind after a 2 magically appeared on the flop.
        Conservative betting, that then turned into an all-in from Ben on the river card, put Mark in a tricky situation.
        Mark called, hoping that Ben had nothing better than a pair and much to Ben's delight, all of Marks chips headed in
        his direction. Being so early into the night and not wanting his night to end, Mark decided to delve into his wallet
        for a re-buy.
    </p>

    <p>After the second break, blinds were now hurting peoples stacks, and with ante's also increasing the pain, it wasn't
        long before the walking wounded were shown the direction of the exit door. Mark, whose turn it was to avoid lady luck,
        came lucky last and received a round of applause for his efforts. Mark did though get some revenge by providing some
        mid game Sri Lankan roll snacks whose spice left some players reaching for the beers to cool down. Surprisingly, it
        was a while before the next casualty was recorded, as Carlos survived with his remaining chips in the middle of the
        table. Junior was also looking into the abyss, but survived more times that a Brazilian goalkeeper picking the ball
        out of the net against Germany (I had to get one in there somewhere!). It wasn't long though, before we lost one of
        the South American's as Carlos didn't survive the next blind onslaught and was out in 8th. With Jade's stack so low
        that he stated "It couldn't even buy an old Toyota Corolla" (or was that a Toy Yoda and a Corona?), he was next out in 7th.
    </p>

    <p>Blinds were now higher than a stoned student, so players had no real choice but to chance their luck with two
        reasonable cards. Paul was the next to close his eyes and pray to the heavens, but was unceremoniously dumped
        out of the game. With four places being paid, the remaining five players (Ben, Brian, Dave, Junior and Simon)
        were holding on for the higher placements. Blinds had now increased to $1000, $2000 with a $100 ante, so
        unsurprisingly, it meant another player demise, and "more lives than a cat" Junior finally ended his night in
        5th place, and means the super bonus rolls over the next event.
    </p>

<div class="col-lg-4" style="float:right;">
       <table>
          <tr>
              <td><img src="../images/20140726_simonm.jpg" alt="" style="float:right;"></td>
          </tr>
          <tr>
              <td style="font-size:8pt; align: center;">Mutual respect from the top two players</td>
          </tr>
      </table>
  </div>


    <p>Breathtaking blind levels of $2000, $4000 with a $500 ante meant card selection was difficult, so Ben had to try to
        increase his chip stack. Simon though called Ben's bet and cleared him out, taking the down the bounty prize, and
        moving himself into a commanding chip leader position. Ben's only consolation was making the money and getting some
        extra bonus points for 4th place. Could home advantage again take out the top prize? The action was coming thick and
        fast, before the ominously high maxed out blinds at $5,000/$10,000 with a $500 ante was surely going to the end the
        night soon. Brian and Dave's stacks were in jeapoardy of being blinded out, so with Dave as big blind, he had no
        choice but to push all in, but Brian called and unluckily for Dave, his cards didn't hit the board, so he was out in
        a very respectable 3rd place.
    </p>

    <p>The showdown battle between Brian and Simon, soon saw chips moving in both directions, with pots without raises
        equating to almost 50% of their stacks. Two exhausted players with even more exhausted spectators meant Simon
        had no choice but to call Brian's all in with two below par starting cards. Brian's Ace held leaving Simon with only
        $500 left, and with no real point of continuing, Simon gracefully acknowledged defeat.
    </p>

    <p>The perfect storm conditions of a late start, players last ditch survival and extra break meant the clock was indicating
        that sunrise was only a few hours away. Players slunk away for a well earned sleep, although Brian's usual late night
        accident prone status did topple a stubby onto the kitchen floor. Brian did clean up the mess though, so that was one
        less bottle to transfer to the recycle bin!
    </p>

    <p>Special thanks to Simon (or is that Mark) for hosting and feeding 8 other players. Another great night of cards,
        alcohol, great food, alcohol, more alcohol and banter that will hopefully keep bringing everyone back for more.
    </p>
</div>
<footer>
    <p>&copy; BJIT website productions 2014</p>
</footer>

</div>
<!-- /container -->
<script type="text/javascript" src="../js/controllers/events.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40877102-1', 'iinet.net.au');
    ga('send', 'pageview');

</script>
</body>
</html>