<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="01_03_2014">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
    <menus data-ng-controller="menusController"></menus> <!-- Custom directive to show all the menu items - see js/directives/menus.js for details -->
    <div class="container">

    <div class="jumbotron table_border">
        <h2>The "Second Battle at Brian's house"</h2>

        <p>&nbsp;</p>

        <p>.....Mark's favourite poker location....</p>
    </div>
    <div class="body-content">
    <div class="row">
        <div class="col-lg-3">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Game</th>
                        <th>Players</th>
                    </tr>
                    <tr>
                        <td>{{tournaments.tournamentOne[0].eventDate}}</sup></td>
                        <td>{{tournaments.tournamentOne[0].location}}</td>
                        <td>{{tournaments.tournamentOne[0].tournament}}</td>
                        <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Points</th>
                        <th>Won</th>
                    </tr>
                    <tr ng-show="result.event == 7 && result.tournament == 1"
                        ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                        <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.points}}</td>
                        <td>{{result.cash | currency}}</td>
                    </tr>
                </table>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Bounty Winner</th>
                    </tr>
                    <tr>
                        <td>{{tournaments.tournamentOne[0].bountyWinner}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Win Ratio</th>
                        <th>Ave Points</th>
                        <th>Ave Position</th>
                        <th>Points</th>
                    </tr>
                    </tr>
                    <tr ng-repeat="result in results.eventTables[2] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                        <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.played}}</td>
                        <td>{{result.won}}</td>
                        <td>{{result.won / result.played * 100| number:2}} %</td>
                        <td>{{result.points / result.played | number:2}}</td>
                        <td>{{result.averagePosition | number:2}}</td>
                        <td>{{result.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="commentary">
            <h3 style="color:black">Commentary</h3>
            <p>
                Poker returned to Brian's house with a familiar tale. Similar to Brian having happy hunting grounds at Ben's house,
                Mark V again took out the top spot after previously winning both tournaments at Brian's last year. This was not an easy win though, as
                Mark fended off a late onslaught to take out the top points. Also, the start of the new "super bonus" meant Jade was picked as the
                random player knowing that he would take down the "massive" pot if he were to win the nights event.
            </p>
            <p>
                The international star studded cast of 3 Poms, 2 Australians, 1 Sri Lankan and 1 Kiwi ventured to Brian's. Brian copied Ben's idea with a poker
                timer displayed at the end of the table on a monitor, although not quite as grandiose in it's proportions. Jade was first to turn up and mark his territory
                in the ice filled sink, closely followed by Ben showing conviction to the cause after having all his wisdom (teeth) removed, and starting
                his own self medication pain relief programme. Dave, Mark and Andy (returning for a second event in a row!) finished the
                7.30pm starting line up with Simon a known late starter.
            </p>
            <p>
                Mark was still studying his winning hand cheat sheet, but did not get off to his customary flying start after lots of folding, and in fact it
                was Dave who was running hot early on getting a few decent wins to swell his chip stack.
            </p>
            <div class="col-lg-4" style="float:right;">
              <table>
                  <tr>
                      <td><img class="border" src="../images/20140301_brians_b.jpg" alt="" style="float:left;"></td>
                  </tr>
                  <tr>
                      <td style="font-size:8pt; align: center;">Monitor envy, but table still looking good</td>
                  </tr>
              </table>
            </div>
            <p>
                Jade was the first victim to a cranky lady luck who snubbed her nose at him as his flush was beaten by a higher flush. Ben and Simon were having
                some success, but Andy was struggling after calling strong bets after he had matched a lower card on the flop, and he soon found himself out of chips before the
                first break, thus receiving his extra chips earlier than other players.
            </p>
            <p>
                Into the second hour with the recycling bin straining under the weight of the empty bottles, the chips seemed to be flowing in most directions but Mark was
                now starting to edge Dave out of the chip leader position, whilst Ben, Simon and Brian were hot on their heels. Jade also hit the best hand
                of the night with a full house and as a result pushed Andy again onto the brink of a chip free zone.
            </p>
            <p>
                The pointy end of the tournament soon had it's first casualty as Andy could not get any good cards, and attempted a stone cold bluff, which unfortunately for him
                was called and meant he was allocated "lucky" last place. The final chance for a
                re-buy was edging nearer and unfortunately for Dave, his early run of luck had deserted him, and as he correctly stated, it's better to
                get the good cards towards the end of the tournament rather than the start! Going out just before the 3rd break and declining to re-buy meant that Mark,
                Jade, and Ben's stacks were the dominant force whilst Simon and Brian's stacks were moving into the danger zone.
            </p>
            <p>
                The blinds were now ominously high and again Jade must have upset lady luck as his strong hand was beaten by a better kicker card. Wallowing in his
                understandable self-pity, he did manage to claw back some chips and suddenly found himself in the top three, as three all ins from Simon, Ben and Mark meant the
                exit of two players. Mark having the bigger stack called the all ins, and fortunately for him, his cards held and meant Simon was placed 5th and Ben 4th
                (as Ben had a bigger starting stack pre-flop).
            </p>
            <p>
                At this point, it was Brian who managed to win some hands and with blinds at $500, $1000 with a $100 ante meant any win now, was a very profitable win! Now
                Jade whose chip stack had been up and down more times than a loose ladies undergarments was close to being as chip free as a dieter on a health kick. Brian's comment that although unlikely,
                he'd seen people win from such a lowly position before, was met with Mark's retort that he would "run naked around the square if Jade did come back".
                Luckily for the neighbours, Jade didn't last much longer and still ruing his evenings bad luck, he was out in a respectable 3rd place gaining the extra bonus point for
                finishing in the top three. At least to everyone else's delight, Jade's departure meant the "super bonus" rolls, over to the next event.
            </p>
            <div class="col-lg-4" style="float:right;">
              <table>
                  <tr>
                      <td><img class="border" src="../images/20140301_brians_a.jpg" alt="" style="float:left;"></td>
                  </tr>
                  <tr>
                      <td style="font-size:8pt; align: center;">Mark balancing out how he was going to spend <br/>his winnings</td>
                  </tr>
              </table>
            </div>
            <p>
                Mark's stack was openly deriding the minuscule effort of Brian's chip count, but punching above it's weight, this David and Goliath battle was not over yet.
                Almost every hand, Mark was facing an all-in from Brian, and after either folding, or calling and losing, soon saw the chips move across the table. In a few
                short hands, Brian's stack was now marginally bigger than Mark's, and after another all in, with Brian hitting 2 pairs with his 9, after the flop offerred 9 4 4,
                he was happy for Mark to call. Mark, though was also happy to see the flop as his 4 meant he had already hit trips. The turn and river card helped no-one, so
                now Mark was again holding almost all of the evenings chips. Not even having enough for one big blind, the following hand Brian had no choice but to go all in, but
                with two below par starting cards meant Mark took out the honours, top points and the bounty prize.
            </p>

            <p>Congratulations to Mark for a well fought win, after being pushed back onto the ropes with a series of heavy counter blows, he unleashed the final knock out punch,
                leaving Brian prostrate on the canvas but at least with the consolation of gathering numerous points for his second place finish.
                Mark also has the accolade of 3 tournament wins over all seasons, one more than Brian with 2 wins, and with a big list of players on one win.
            </p>

            <h4>Ladder update:</h4>
            <p>
                After first and second place finishes in the first two events, means Brian remains on the top of the ladder with 16 points, but Mark surges northwards
                to take out second place with 11 points, at the expense of Ben who slips a place to third with 10 points. Jade joins the ladder with a positive
                fourth position, with Steve dropping two places. Simon enters the fray in 6th, followed by Andy (who drops 3 places),
                and Dave currently the bottom dweller, but only having played the one game.
            </p>

            <p>Looking forward to the next exciting installment.....</p>

        </div>
    </div>

    </div>
        <footer>
            <p>&copy; BJIT website productions <span id="currentYear"></span></p>
        </footer>

    </div>
    <!-- /container -->
    <script type="text/javascript" src="../js/controllers/events.js"></script>
    <script type="text/javascript" src="../js/controllers/menusController.js"></script>
    <script type="text/javascript" src="../js/directives/menus.js"></script>
    <script>
          document.getElementById("currentYear").innerHTML = new Date().getFullYear();
    </script>
    <div data-ng-include="'../templates/googleAnalytics.html'"></div>
</body>
</html>