<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="04_01_2014">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
    <menus data-ng-controller="menusController"></menus> <!-- Custom directive to show all the menu items - see js/directives/menus.js for details -->
    <div class="container">

    <div class="jumbotron table_border">
        <h2>The "Second Battle at Ben's house"</h2>

        <p>&nbsp;</p>

        <p>.....Another season..another start at Ben's</p>
    </div>
    <div class="body-content">
    <div class="row">
        <div class="col-lg-3">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Game</th>
                        <th>Players</th>
                    </tr>
                    <tr>
                        <td>{{tournaments.tournamentOne[0].eventDate}}</sup></td>
                        <td>{{tournaments.tournamentOne[0].location}}</td>
                        <td>{{tournaments.tournamentOne[0].tournament}}</td>
                        <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Points</th>
                        <th>Won</th>
                    </tr>
                    <tr ng-show="result.event == 6 && result.tournament == 1"
                        ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                        <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.points}}</td>
                        <td>{{result.cash | currency}}</td>
                    </tr>
                </table>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Bounty Winner</th>
                    </tr>
                    <tr>
                        <td>{{tournaments.tournamentOne[0].bountyWinner}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Win Ratio</th>
                        <th>Ave Points</th>
                        <th>Ave Position</th>
                        <th>Points</th>
                    </tr>
                    </tr>
                    <tr ng-repeat="result in results.eventTables[1] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                        <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.played}}</td>
                        <td>{{result.won}}</td>
                        <td>{{result.won / result.played * 100| number:2}} %</td>
                        <td>{{result.points / result.played | number:2}}</td>
                        <td>{{result.averagePosition | number:2}}</td>
                        <td>{{result.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="commentary">
            <h3 style="color:black">Commentary</h3>
            <p>Brian has emerged triumphant to take out the first poker tournament of the new year.</p>

            <p>The topsy-turvy battle at site of the 'original home of Augusta poker' saw the chip lead change several times during the night, with Brian needing to re-buy into the tournament late, then making several gutsy calls to muscle his way back into contention.</p>

            <p>It was Brian's first win since the original tournament at the same place way back in April 2013. The night was highlighted by:</p>
            <div class="col-lg-4" style="float:right;">
              <table>
                  <tr>
                      <td><img class="border" src="../images/20140104_b.jpg" alt="" style="float:left;"></td>
                  </tr>
                  <tr>
                      <td style="font-size:8pt; align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ben utilises his tech skills to show the blind levels</td>
                  </tr>
              </table>
            </div>
            <ul>
                <li>Andy making his long awaited debut and didn't disappoint (hopefully we'll get see him again this year).</li>
                <li>The use of an innovative 60 inch poker timer scoreboard (Ben's TV) - players couldn't argue that they didn't know when the next blinds were up.</li>
                <li>Ben taking a turn as Assistant Tournament Director (or was it Assistant to the Poker Director?), and nursing a hangover by authoring this write-up.</li>
                <li>Ben also being awarded the 2013 Augusta Poker Trophy. (Guys - seriously much appreciated; if I had a pool room it would be going there but its now on top of the  fridge. Hoping that either Cath doesn't notice or won't have a problem with it being there :) </li>
            </ul>
            <p>The night kicked off auspiciously with the first showdown emerging minutes after kick-off between Steve and Mark.  The raising and re-raising made everyone wonder what the hell was going on.  Then both guys flipped their cards.  No one had anything. Not a cracker.  Steve took the hand out with an Ace High to Jack and taking out a  massive chunk of Mark's chips in the process. It was the start of a night where a lot of terrible cards were being dealt. </p>

            <p>The first hour also had Brian going up against Mark - and both holding 3s and 5s - unfortunately a split pot after a couple of bold efforts.
            Steve's initial windfall saw him leading for much of the first hour, but it was Brian who emerged as the chip leader at the break.
            The second hour opened with Ben going into combat with Brian, and coming off second best.  The hand opened with a 4 7 K - and Brian holding JJ and Ben 46.  Ben betted heavily at each turn in the hope of bringing forward a fold. With the two remaining cards drawing blanks, Brian, worried about Ben holding Ks called, and made a massive dent into his chip balance as a result.
            </p>

            <p>It was at this stage that the first all-in of the night emerged between Mark and Andy.  The first four cards flipped at 9 A J 5 - Mark (AJ) was confident of being ahead while Andy (78) was hoping a 6 would turn at the river.  Unfortunatley for Andy, it was a 5 - and Mark was able to recoup some of him earlier losses.</p>

            <p>Shortly after, a time out was called with Mark bringing out his famous Sri Lankan chiko rolls.  No one had any idea if they were eating fish or beef - but no one was complaining either.  Brian offered to go halves with anyone for the last roll - everyone folded.  Nice bluff.</p>
            <div class="col-lg-4" style="float:right;">
              <table>
                  <tr>
                      <td><img class="border" src="../images/20140104_a.jpg" alt="" style="float:left;"></td>
                  </tr>
                  <tr>
                      <td style="font-size:8pt; align: center;">Brian enjoying happy hunting ground at Bens</td>
                  </tr>
              </table>
            </div>

            <p>At the second break, Brian continued to hold the lead to Steve but there were several bumps in the road ahead.
            Andy started to challenge for the chip lead early in the third hour taking out big hand against Brian with 10 trips v 10 K two pair. It was the start of a bunch of losses that would leave him on the brink. The hand of the night however belonged to Steve and Ben. With a AK, Ben raised heavily initally with Steve calling with a A9.  The first four cards flipped A595. Ben
            decided to go all in, and players flipped.  Ben, looking down the barrel of a fifth placing couldn't believe his luck, but fortunately for him a 5 was flipped at the river, meaning both players had the full house and split the pot.
            </p>


        <p>The last break saw Ben take out a slender lead from the rest of the pack. Early into the final session, Mark's earlier losses caught up with him bowing out and electing not buy back into the competition.  Likewise, Andy followed soon after and again elected not to rebuy.
        </p>

        <p>
        About this time Brian, after being in the lead for most of the night took a number of hits to his chip balance to point where all chips were lost, but unlike the other two he elected to re-buy.  After this, two gutsy all-in moves saw him again move back up to his previous dominant position. With Ben and Steve now starting to wane.
        </p>
        <p>
        The final hand of the night saw Brian emerge as the winner with a three way all in battle with all players having respectable pre-flop hands.
        Luckily for Brian (Q9s) held a straight against Steve (A9) holding only 9 pair but needing a heart on the very last card to get to a flush.  Ben (A5)
        had nothing but took out second again for having a higher pre-hand balance. And that was stumps.
        </p>

        <p>Another great night - will Brian's dominance be a sign of things to come in 2014? </p>
        </div>
    </div>

    </div>
        <div data-ng-include="'../templates/footer.html'"></div>
    </div>
    <!-- /container -->
    <script type="text/javascript" src="../js/controllers/events.js"></script>
    <script type="text/javascript" src="../js/controllers/menusController.js"></script>
    <script type="text/javascript" src="../js/directives/menus.js"></script>
    <script>
          document.getElementById("currentYear").innerHTML = new Date().getFullYear();
    </script>
    <div data-ng-include="'../templates/googleAnalytics.html'"></div>
</body>
</html>