<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="21_03_2015">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
    <menus data-ng-controller="menusController"></menus> <!-- Custom directive to show all the menu items - see js/directives/menus.js for details -->
    <div class="container">

    <div class="jumbotron table_border">
        <h2 class="shadow" id="header1">Up, up and away at Mark L's</h2>

        <p>&nbsp;</p>

        <p>Sleep deprivation is good for you....</p>
    </div>
    <div class="body-content">
    <div class="row">
        <div class="col-lg-8">
            <table>
                <tr>
                    <td>
                        <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Game</th>
                                <th>Players</th>
                            </tr>
                            <tr>
                                <td>{{tournaments.tournamentOne[0].eventDate}}</td>
                                <td>{{tournaments.tournamentOne[0].location}}</td>
                                <td>{{tournaments.tournamentOne[0].tournament}}</td>
                                <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Points</th>
                        <th>Won</th>
                    </tr>
                    <tr ng-show="result.event == 14 && result.tournament == 1"
                        ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                        <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.points}}</td>
                        <td>{{result.cash | currency}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Win Ratio</th>
                        <th>Ave Points</th>
                        <th>Ave Position</th>
                    <th>Points</th>
                    </tr>
                    </tr>
                    <tr ng-repeat="result in results.eventTables[2] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                        <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.played}}</td>
                        <td>{{result.won}}</td>
                        <td>{{result.won / result.played * 100| number:2}} %</td>
                        <td>{{result.points / result.played | number:2}}</td>
                        <td>{{result.averagePosition | number:2}}</td>
                        <td>{{result.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="commentary">
            <h3 style="color:black">Commentary (by Mark L).</h3>

        </div>
    </div>

        <p><i>(Note … this starts long and ends very, very quickly – notes were scant later)</i></p>

        <p><b>Round 1</b></p>

        <p>It's hot early … jade misses the excitement … </p>

        <p>Freese and Leopold go ‘balls out’ and both of them have absolutely no idea what they are doing. Ben and Brian look on like un-approving parents … nett result. There’s a split pot on that that great technical poker term – sweet fcukall.</p>

        <p>Leopold goes bananas for the opening 20 minutes wins everything…. Life's good, he's thinking of a home in Brighton and maybe even donating Jade's deposit so he stays at the Heath. </p>

        <p>The mood then turned… Freesy after losing sailing again (yeah weird sailing link) – was not overly happy with Brian completely ignoring him for numerous hands and his pedantic follow the rules style antics. Tensions hit a high when Freesy was labelled an avionics expert; never call a structural engineer an avionics pussy. Noting too that Freesy is flanked by Punchy 'Ingham'. Things could turn sour tonight …</p>

        <p>Ice threatened to clog the air when Brian noted that it was all Freesy's fault for pulling his cards off the table… Brian mumbled … avionics idiot! </p>

        <p>Speaking of idiots, Jade walked in … late. Unfortunately he sees normal, thoughtful poker – boring style.</p>

        <p>Anyway the moods softened …</p>

        <p>We then had 15 minutes of boring shit where Wombat tried hard nearly winning 3 in a rows until Punchy actually physically moved … sucked on his tube (some kind of cheap Stella Artois rip-of bear) (Hint: Moving is actually Ben's great flaw, his 'tell' – yep, when you don't move and hardly breath through 47 hands and then all of a sudden chew on a cheap beer… people know) No Wombat – Bang – he gets hit like by the Big Ben Truck and smacked into the nearest wombat hole. </p>

        <p>Then things got exciting again when Freese jumped in with a strong hand – winning 2 aces but only an appetiser to the next hand when Wombat and Leopold went head to head; Wombat with the first all-in of the night and gets it with Ace Jack to Ace 10 – Wombat breathes again; life is good.  </p>

        <p>There was an air of anticipation… Freesy had added a kinda psycho air to the betting, Junior is a nutbag when it comes to betting, Leopold – complete fruitloop (betting or not), Wombat goes crazy hard Paul – the thoughtful but some what aggressive better… it was a cocktail of nutbags</p>

        <p>On the flipside side, Mark V was first out and did nothing … just quietly failed and got charity money to get back in. Leopold whispered to himself – 'C'mon on Mark – get nuts with the rest of us – you'll see the light.'</p>

        <p>Jade started to wake … and Mark started to go bang with his charity coins; Junior went all in .. Mark V then wins a massive pot with Kings 'on the flop'…. unbelievable and predictanle Jade does his tits … it's just not raaarth; he didn't bet like he had Kings …. </p>

        <p>Freesy's still in a very tight mood 1 hr in…. Wombat and Leopold smiled knowingly; Wombat whispered 'Fcuk this could be on, all it brawl like the old days, this is what I'm talking about….' Leopold thinks yeah … if it's on, I'll be behind you cowering a little… anyway back to poker.</p>

        <p>Then bang…. Big story … Leopold) goes hard on Kings and 8's, Junior is in strong as is Mark V.  Huge pot… (Mark V, realising he's playing with charity money politely pulls out. Leopold thinks he's got it – Junior thinks he lost not seeing 3 of a kind nor his full house. He throws his cards down in disgust and then to his surprise he's won one of the biggest pots of the night. The term 'fantastic idiot' comes Leopold's too mind. Junior Fantastic now has a pile of chips heading into round 2 </p>

        <p>Freesy festers…..</p>

        <p><b>Round 2 </b></p>

        <p>Wow – what a start … Brian pulls a "high lord" move; a rare move played – it reeks of look at me – I don't do much but when I do … what the fcuk out because I am this tables High Lord. (Now…on any given night this may have worked but fair to say that Brian had not covered himself in glory …mis-dealing, mis-advice, ingoring the Freese..) So, nearly everyone dropped into the hand - no man at the table played Brian an iota of respect and the pot builds and builds. There's possibilities of straights and flushes, coin flying everywhere and Mr Fantastic (Junior), Leopold and Mark V end the betting with $5000 in… the two Mark's split the pot on Aces. Ben and Brian go …what? Jade thinks … how can I play like the exciting guys he thinks I know I'm crazy too – how do I get that into my poker… ?</p>

        <p>Later - Paul plays a really smart game and wins a quietly good pot. Leopold muses – he's the smokey at the table, I hope the cards don't fall his way because he's got us all covered for tactics – well perhaps not Brian and Punchy) </p>

        <p>Andrew continues to steam in the corner, Ben does nothing … ever and Brian is still reeling from the lack of respect shown a few hands back.</p>

        <p>Mr Fantastic re-emerges … to commentator goes tits off. "Juuuuunior" as certain football commentators scream upon a goal ….. Juuuuuuuuuuuuuuuunioooooooor. Amazing wins a massive large pots Ace 10 to Ace 9 – against a newly confident Jade. Alas – Jade loses, the game is once again shite ad he goes back to buying a house. (Long story that … the author want to expand …but won't)</p>

        <p>Watch out Big Ben wokes up again – the tell is on. Leopold backs away in mock deference. Punchy sees blood – Jade. He lined him up and struck and crack … . Coins flying everywhere – Junior was in for a while but temperature got too hot and Jade stayed in. God knows why – In Jade's words "I was just playing shit cards like everyone else!" ? Who know's – only the shadow knows how Jade works. Jade … out!! Gorn. He took on Punchy Ingham and is now a carcus – looking for a house.</p>

        <p>Tic… tic…</p>

        <p>Same same, but Paul and Wombat is playing smart accumulating … Freese continues to be ignored by Brian …</p>

        <p>Same, same – Brian just stuffed up another deal </p>

        <p>Round 2 ends the same as Round 1…. Junior Fantastic wins a hand in a hand in a very odd manner.</p>

        <p><b>Round 3</b></p>

        <p>(Sorry guys this ends pretty quickly – stopping taking notes to actually play cards)</p>

        <p>Bang …off we go again …Wombat, Ben, and Leopold head to head …this time Leopold on top with Ace after 3 7's </p>

        <p>..and I have to get back to the cards…</p>

        <p>…back now … just smashed Paul out of the game. Easy game. </p>

        <p>Leopold takes on the High Lord on some stupid rule. He normally wouldn't but hell the High Lord is having a nightmare – so kicking blokes on the ground is fair. Leopold attacked Paul just at the right time to take some shit side-prize that Brian and Punchy had invented but now – the side prize remains a mystery and only one played can ever win it … Leopold is still confused and may one day enter Tattslotto as an easier way to grab some cash. </p>

        <p>Freesy has cooled down and just won a huge pot.</p>

        <p>Brian's back! … just went all in on a pair of 7's … odds his favour then was losing on the draw the  Junior's 9's then gets arse-up lucky and takes a straight. Win. </p>

        <p>It's all happening fast … I just kicked Ben out of the game … Easy game. Actually Ben very unlucky sitting Queens with me pulling 2 8's in the river to take a huge pot. Exit stage door left 'Punchy'.</p>

        <p>Note … Ben and Brian then start talking and googling stats – Ben Unlicky as he had an 81.35427% chance of flipping the right flop. Brian – yeah I hear ya ….I had a 59.713242% chance of flopping the right flip. </p>

        <p>Leopold thinks – I am have a 100% chance of never opening one of Jade's emails at work.</p>

        <p>Brian … ignores Andrew again </p>

        <p>Wombat thinks there's a 70% chance of a brawl tonight and then as the topic turned to brawls Wombat actually hardens up and we discuss whether you sit or stand with a raging mongrel. Jade lifts his head from a real-estate website to say he only ever sits. Leopold appreciates that he keeps the bathroom clean but can only think that all Englishmen are actually feamles or lesbians at best.</p>

        <p>Freesy is smiling a lot now … thinking "Why did I come to sit at this table with this bunch of wackers"</p>
        <div class="col-lg-4" style="float:right;">
               <table>
                  <tr>
                      <td><img class="border" src="../images/20150321_a.jpg" alt="" style="float:right;"></td>
                  </tr>
                  <tr>
                      <td style="font-size:8pt; align: center;"><span style="padding-left: 30px;">Home advantage Mark taking down the win....</span></td>
                  </tr>
              </table>
            </div>

        <p>Oh shit – there's a poker game on…. </p>

        <p>No more note… </p>

        <p>So I'll make up a quick ending. It might not be as truthful and accurate as the 'minutes above'</p>

        <p>Ok short ending </p>

        <p>Leopold wins … others came second, third and fourth but no one cares. In poker you either number 1 or you don't have a place in the sun.</p>

        <p>The lesson sobriety and lack of sleep is a great tune-up for a poker night </p>

        <p>A final question based on a massive ego… </p>

        <p>Did Leopold actually close out every player on the table … (to be honest, I cannot remember) but if so – has that happened before because usually a few of us are taking each other out. </p>

        <p>Gotta go. The reaper signs off.</p>

    </div>
        <footer>
               <p>&copy; BJIT website productions <span id="currentYear"></span></p>
        </footer>
    </div>
    <!-- /container -->
    <script type="text/javascript" src="../js/controllers/events.js"></script>
    <script type="text/javascript" src="../js/controllers/menusController.js"></script>
    <script type="text/javascript" src="../js/directives/menus.js"></script>
    <script>
          document.getElementById("currentYear").innerHTML = new Date().getFullYear();
    </script>
    <div data-ng-include="'../templates/googleAnalytics.html'"></div>
</body>
</html>