<!DOCTYPE html>
<html lang="en" ng-app="event" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="07_02_2015">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>

        <!-- Menus -->
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event History<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2015'" ng-repeat="event in results.events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2015'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in results.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2014 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../season/2014Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in results.CCXIV_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2014'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2013 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../season/2013Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in results.CCXIII_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2013'" ng-repeat="player in playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="../statistics/statistics.html">Statistics</a>
        </div>
    </div>
</div>
<div class="container">

<div class="jumbotron table_border">
    <h2 class="shadow" id="header1">Season Three starts at the beach shack....</h2>

    <p>&nbsp;</p>

    <p>...Stuff happened....</p>
</div>
<div class="body-content">
<div class="row">
    <div class="col-lg-8">
        <table>
            <tr>
                <td>
                    <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                        <tr>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Game</th>
                            <th>Players</th>
                        </tr>
                        <tr>
                            <td>{{tournaments.tournamentOne[0].eventDate}}</td>
                            <td>{{tournaments.tournamentOne[0].location}}</td>
                            <td>{{tournaments.tournamentOne[0].tournament}}</td>
                            <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Points</th>
                    <th>Won</th>
                </tr>
                <tr ng-show="result.event == 13 && result.tournament == 1"
                    ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                    <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.points}}</td>
                    <td>{{result.cash | currency}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                <tr>
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Win Ratio</th>
                    <th>Ave Points</th>
                    <th>Ave Position</th>
                <th>Points</th>
                </tr>
                </tr>
                <tr ng-repeat="result in results.eventTables[1] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                    <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                    <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                    <td>{{result.played}}</td>
                    <td>{{result.won}}</td>
                    <td>{{result.won / result.played * 100| number:2}} %</td>
                    <td>{{result.points / result.played | number:2}}</td>
                    <td>{{result.averagePosition | number:2}}</td>
                    <td>{{result.points}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div id="commentary">
        <h3 style="color:black">Commentary...</h3>

    </div>
</div>

    <p>
        Another season comes to an end after a fun filled festive night at Brian's. The numbers of players may have been down due to various work, birthday, wedding anniversary and sporting committments, but it didn't detract much from the proceedings as the famous five players endulged in the customary pre-game banter.
    </p>

</div>
    <footer>
           <p>&copy; BJIT website productions <span id="currentYear"></span></p>
    </footer>
</div>
<!-- /container -->
<script type="text/javascript" src="../js/controllers/events.js"></script>
<script>
      document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40877102-1', 'iinet.net.au');
    ga('send', 'pageview');

</script>
</body>
</html>