<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'event1' is referenced the corresponding controller logic -->
<head> `
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="07_02_2015">
    <meta name="noOfTournaments" content="1">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body ng-controller="event-controller" ng-cloak>
    <menus data-ng-controller="menusController"></menus> <!-- Custom directive to show all the menu items - see js/directives/menus.js for details -->
    <div class="container">

    <div class="jumbotron table_border">
        <h2 class="shadow" id="header1">Season three begins at the Shack...</h2>

        <p>&nbsp;</p>

        <p>...with pre-game lubrication, ring ins and table/bedroom evacuations</p>
    </div>
    <div class="body-content">
    <div class="row">
        <div class="col-lg-8">
            <table>
                <tr>
                    <td>
                        <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Game</th>
                                <th>Players</th>
                            </tr>
                            <tr>
                                <td>{{tournaments.tournamentOne[0].eventDate}}</td>
                                <td>{{tournaments.tournamentOne[0].location}}</td>
                                <td>{{tournaments.tournamentOne[0].tournament}}</td>
                                <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Points</th>
                        <th>Won</th>
                    </tr>
                    <tr ng-show="result.event == 13 && result.tournament == 1"
                        ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                        <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.points}}</td>
                        <td>{{result.cash | currency}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <table class="table_border results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                    <tr>
                        <th>Position</th>
                        <th style="text-align:left; padding-left:10px;">Name</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Win Ratio</th>
                        <th>Ave Points</th>
                        <th>Ave Position</th>
                    <th>Points</th>
                    </tr>
                    </tr>
                    <tr ng-repeat="result in results.eventTables[1] | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                        <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                        <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                        <td>{{result.played}}</td>
                        <td>{{result.won}}</td>
                        <td>{{result.won / result.played * 100| number:2}} %</td>
                        <td>{{result.points / result.played | number:2}}</td>
                        <td>{{result.averagePosition | number:2}}</td>
                        <td>{{result.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="commentary">
            <h3 style="color:black">Commentary...by Dave</h3>

        </div>
    </div>

        <p>
            Seven of us managed to extricate ourselves from the Heath and head down the highway to the Peninsula.  Four of us squeezed into the mercurial Bongo van with the poker table, beers and golf clubs and with Frosty Fruits in hand (kindly supplied by the peerless chaperon Mark V) even before leaving the Heath, we knew we were in for a memorable evening…
        </p>
        <div class="col-lg-4" style="float:right;">
           <table>
              <tr>
                  <td><img class="border" src="../images/20150207_daves_b.jpg" alt="" style="float:right;"></td>
              </tr>
              <tr>
                  <td style="font-size:8pt; align: center;"><span style="padding-left: 40px;">Bongo van locked and loaded. Hi ho, hi ho...it's off to Rye we go</span></td>
              </tr>
          </table>
        </div>
        <p>
            And what a memorable evening it was…shortly after arriving at Dave’s shack in Rye, with card table erected, Mr Leopold arrives with a mystery guest (no, unfortunately not a gorgeous 18 year old Scandinavian blonde), who apparently is his golfing partner (who went by the name Craig, the builder).  To say Mark and Craig were well lubricated is like saying Brian and Ben enjoy playing cards – a massive understatement!
        </p>
        <p>
            Within 15 minutes of arriving, Mark had broken a beer glass, taken a slash off the end of the deck   and sponged 4 beers off his poker mates.  This was a portent of things to come.
        </p>
        <p>
            After devouring some local pizzas, we sat down at 8pm and began proceedings, with Ben looking unusually pensive in his role as Brian’s stand in.
        </p>
        <p>
            The first hand saw 4 players like what they were holding (apart from the beers).  Mark V raised on the river and collected the pot.  Shortly thereafter Steve pulls a full house on the river and after taking Mark “Wet Arse” Leopold along for the ride, collects the chips.  But Mark was not to be deterred, on the next hand, with a massive pot, he beats Paul and Craig with 3 of a kind.
        </p>
        <p>
            After several boring hands, Steve and Paul go at it.  Paul collects a nice little pot with 2 pair.  Then, what would unfortunately became a disturbing trend for the night, Mark L raised his right cheek and let rip with a shocking fart (described by the perpetrator himself as containing 70% sh!t particles) that cleared the table (and it wasn’t even 9pm).
        </p>
        <div class="col-lg-4" style="float:right;">
           <table>
              <tr>
                  <td><img class="border" src="../images/20150207_daves_a.jpg" alt="" style="float:right;"></td>
              </tr>
              <tr>
                  <td style="font-size:8pt; align: center;"><span style="padding-left: 100px;">Class with a broken glass...... </span></td>
              </tr>
              <tr>
                  <td style="font-size:8pt; align: center;"><span style="padding-left: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and I hope the wet decking was from the rain?</span></td>
              </tr>
          </table>
        </div>
        <p>
            Perhaps still recovering from the Leopold odour, Mark V manages to christen the table with beer, to which his namesake says “You f#ckers should never drink!”
        </p>
        <p>
            Back at the poker action, the next hand sees Ace, 2 Queens and 2 Jacks from the dealer.  After some initial interest from several players around the table, it gets down to Mark L and Simon.  Mark L bets $8K (easily the biggest bet of the evening to that point) and scares off Wombat, with Mark L holding trips (Jacks).
        </p>
        <p>
            To this point Steve, Wombat and Mark L had been keen participants in the betting.  This continued with Wombat collecting a tidy stack off Steve after a pair of 8s was drawn off the dealer, with Wombat’s two sevens too good for Steve’s two fives.
        </p>
        <p>
            10pm rolls around and we have the first all in for the evening, Steve squaring off against Mark V.  Steve collects the pot with three Kings vs Ace/King pairs for Mark V.  Mark decides that sitting around watching is no fun and buys back in.
        </p>
        <p>
            To everyone’s surprise, Mark L and Craig were still conscious at this point, especially the anal orifice of Mr Leopold.  The table was cleared not less than 4 times during the evening as Mark refused to heed Paul’s advice to “take a dump and get rid of that sh!t”.  After pleading that he had never played Texas holdem poker before, Craig was very quick to point out on several occasions that the big or small blinds had not been paid – either he was a quick learner or a conman from way back!
        </p>
        <p>
            And he tried his best to con Steve into losing his chips.  The dealer drew three Kings, a jack and eight.  Both Steve and Craig managed a full house and we had our first (and only) split pot of the evening.
        </p>
        <p>
            Perhaps it was the copious alcohol consumed at The National, but Mark L and Craig were lured into Wombat’s trap, each holding bugger all and losing to Wombat’s pair of kings, which added nicely to his stack of chips!
        </p>
        <p>
            After several meandering hands, Mark V decides to go all in with the dealer cards being 9, Jack, 5, 10 and 7.  Craig has shown interest in the pot, but elects to fold after the river card, so Mark V survives to play another hand.
        </p>
        <p>
            The next hand and Ben finally decides to join the betting (to this point, about 11pm, Ben had played 2 hands for the entire evening).  Mark L and Craig perhaps had not noticed that Ben had not been enthused about his cards to this point and went along for the ride. ..Ben collected the sizeable pot after going all in and holding trip sixes vs Mark’s pair of 9s and Craig’s Ace/King.  Craig is the first casualty of the evening.
        </p>
        <p>
            Not fazed by his loss to Ben, Mark L goes all in against Wombat, which proved a good call with his pair of Aces too good for Wombat’s pair of Jacks.  But it wasn’t too long before Wombat extracted his revenge, taking an even larger pot from Mark L after pulling two pair with the river card.
        </p>
        <p>
            But you couldn’t keep Leopold (or his farts) down for long.  He collected a tidy stash after Dave and Mark V liked their hands, with this hand being the killer blow for Mark V, who exited in 7th spot.
        </p>
        <p>
            With midnight approaching, there were 6 players left and Ben was the chip leader.  Ben decided to risk it all with a $15K bet with 8,3,6 on the flop.   Ben holds Ace/King whilst Mark L likes his chances with two 4s.  Ben draws an Ace on the turn card and never looks back, taking out Mark L.
        </p>
        <p>
            With the blinds going up, it was becoming interesting to see who could last.  Paul, after some strong early wins, had gone quiet, but decided to go all in against Wombat.  Paul was only holding Jack/7, whilst Wombat had a pair of Queens.  The dealer then draws two Jacks and Paul collects the pot.
        </p>
        <p>
            But you cannot keep a good Wombat down…not long after losing to Paul, he entices Dave and Steve to go all in, and collects their chips with three sevens.  And then there were 3 left - Wombat, Paul and Ben.
        </p>
        <p>
            Several hands pass before Wombat entices Paul to go all in.   Wombat comes up the victor with sh!t cards (4/3), and Paul bows out in third place.
        </p>
        <div class="col-lg-4" style="float:right;">
           <table>
              <tr>
                  <td><img class="border" src="../images/20150207_daves_c.jpg" alt="" style="float:right;"></td>
              </tr>
              <tr>
                  <td style="font-size:8pt; align: center;"><span style="padding-left: 30px;">Another flying start from the patient champion Ben</span></td>
              </tr>
          </table>
        </div>
        <p>
            So the final combatants were Wombat and Ben, with Ben holding a significant chip advantage.  With the blinds reaching $10K and $20K, the betting followed a predictable pattern – the big blind was more often than not the winner.  After about 10 hands, Ben took out Wombat with a straight.
        </p>
        <p>
            It was now after 1am and most of us needed some shut eye…unfortunately for Mark V who was sharing a room with Wombat, his sleep was interrupted by what could only be described as un-human like noises…Mark V has supplied audio recordings if you wish to relive this nightmare!
        </p>
        <p>
            Congratulations to Ben for winning (seems like this has happened before!)…and also managing to keep the rest of us on track and dealing out the chips.
        </p>
        <p>
            With the next event at Mark L’s house, it will be interesting to see if his garden survives the experience…
        </p>

        </p>

    </div>
        <footer>
               <p>&copy; BJIT website productions <span id="currentYear"></span></p>
        </footer>
    </div>
    <!-- /container -->
    <script type="text/javascript" src="../js/controllers/events.js"></script>
    <script type="text/javascript" src="../js/controllers/menusController.js"></script>
    <script type="text/javascript" src="../js/directives/menus.js"></script>
    <script>
          document.getElementById("currentYear").innerHTML = new Date().getFullYear();
    </script>
    <div data-ng-include="'../templates/googleAnalytics.html'"></div>
</body>
</html>