<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="eventDate" content="06_04_2013">
    <meta name="noOfTournaments" content="2">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="src/css/jumbotron.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-route.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

</head>
<body ng-controller="events-controller" ng-cloak>
    <menus data-ng-controller="menusController"></menus> <!-- Custom directive to show all the menu items - see js/directives/menus.js for details -->
    <div class="container">
        <div class="jumbotron table_border">
            <h2>{{title}}</h2>
            <p>&nbsp;</p>
            <p id="subtitle">{{subTitle}}</p>
        </div>
        <div class="body-content">
       <div class="row">
           <div class="col-lg-3">
               <div>
                   <table class="results table table-striped table-bordered table-condensed table-hover">
                       <tr>
                           <th>Date</th>
                           <th>Location</th>
                           <th>Game</th>
                           <th>Players</th>
                       </tr>
                       <tr>
                           <td>{{tournaments.tournamentOne[0].eventDate}}</td>
                           <td>{{tournaments.tournamentOne[0].location}}</td>
                           <td>{{tournaments.tournamentOne[0].tournament}}</td>
                           <td>{{tournaments.tournamentOne[0].noOfPlayers}}</td>
                       </tr>
                   </table>
               </div>
           </div>
           <div class="col-lg-3" data-ng-show="tournaments.tournamentTwo[0] != null">
               <div>
                   <table class="results table table-striped table-bordered table-condensed table-hover">
                       <tr>
                           <th>Date</th>
                           <th>Location</th>
                           <th>Game</th>
                           <th>Players</th>
                       </tr>
                       <tr>
                           <td>{{tournaments.tournamentTwo[0].eventDate}}</sup></td>
                           <td>{{tournaments.tournamentTwo[0].location}}</td>
                           <td>{{tournaments.tournamentTwo[0].tournament}}</td>
                           <td>{{tournaments.tournamentTwo[0].noOfPlayers}}</td>
                       </tr>
                   </table>
               </div>
           </div>
       </div>

       <!--Game 1 Result     -->
       <div class="row">
           <div class="col-lg-3">
               <div>
                   <table class="results table table-striped table-bordered table-condensed table-hover">
                       <tr>
                           <th>Position</th>
                           <th style="text-align:left; padding-left:10px;">Name</th>
                           <th>Points</th>
                           <th>Won</th>
                       </tr>
                       <tr ng-show="result.event == {{event}} && result.tournament == 1" ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                           <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                           <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                           <td>{{result.points}}</td>
                           <td>{{result.cash | currency}}</td>
                       </tr>
                   </table>
               </div>
           </div>

           <!--Game 2 result-->
           <div class="col-lg-3" data-ng-show="tournaments.tournamentTwo[0] != null">
               <div>
                   <table class="results table table-striped table-bordered table-condensed table-hover">
                       <tr>
                           <th>Position</th>
                           <th style="text-align:left; padding-left:10px;">Name</th>
                           <th>Points</th>
                           <th>Won</th>
                       </tr>
                       <tr ng-show="result.event == {{event}} && result.tournament == 2" ng-repeat="result in results.eventResults | orderBy: ['event','tournament', '-points']">
                           <td>{{result.position}}<sup>{{positionSuffix(result.position)}}</sup></td>
                           <td style="text-align:left; padding-left:10px;">{{result.name}}</td>
                           <td>{{result.points}}</td>
                           <td>{{result.cash | currency}}</td>
                       </tr>
                   </table>
               </div>
           </div>

           <!--Result table/ladder-->
           <div class="col-lg-6">
               <div>
                   <table class="results table table-striped table-bordered table-condensed table-hover">
                       <tr>
                       <tr>
                           <th>Position</th>
                           <th style="text-align:left; padding-left:10px;">Name</th>
                           <th>Played</th>
                           <th>Won</th>
                           <th>Win ratio</th>
                           <th>Ave points</th>
                           <th>Ave position</th>
                           <th>Points</th>
                       </tr>
                       </tr>
                       <tr ng-repeat="player in table | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                           <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                           <td style="text-align:left; padding-left:10px;">{{player.name}}</td>
                           <td>{{player.played}}</td>
                           <td>{{player.won}}</td>
                           <td>{{player.won / player.played * 100| number:2}} %</td>
                           <td>{{player.points / player.played | number:2}}</td>
                           <td>{{player.averagePosition | number:2}}</td>
                           <td>{{player.points}}</td>
                       </tr>
                   </table>
               </div>
           </div>
       </div>
   </div>
        <ng-include src="eventDetails"></ng-include>
        <div data-ng-include="'../templates/footer.html'"></div>
   </div>
   <script type="text/javascript" src="../js/controllers/eventsController.js"></script>
   <script type="text/javascript" src="../js/controllers/menusController.js"></script>
   <script type="text/javascript" src="../js/directives/menus.js"></script>
   <script type="text/javascript" src="../js/floatingImages.js"></script>
   <div data-ng-include="'../templates/googleAnalytics.html'"></div>
</body>
</html>