<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'poker' is referenced the corresponding controller logic -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="season" content="2013">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <link href="../css/theme.default.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tablesorter.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/animations.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/tableSorter.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="../js/animateRows.js"></script>
</head>
<body ng-controller="homePageController" ng-cloak class="yui3-skin-sam">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>

        <!-- Menus -->
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event History<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2014'" ng-repeat="event in statistics.events  | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2014'" ng-repeat="player in statistics.playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in statistics.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2013 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="2013Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in statistics.previousEvents | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2013'" ng-repeat="player in statistics.playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="../statistics/statistics.html">Statistics</a>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="jumbotron">
        <h2 id="header1">2013 - 'The Square' Poker Results</h2>

        <p id="header2">
            The inaugral season of 2013...So many highlights...Scroll down for the commentary
        </p>
    </div>
    <div class="body-content">
        <div class="row">
            <div class="col-lg-8">
                <table>
                    <tr>
                        <td>
                            <h3>Ladder after event number:</h3>
                        </td>
                        <td style="padding-left:10px;">
                            <select ng-model="eventId" ng-change="tableChanged()" id="eventNumber">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div>
                    <!--<table id="ladder" class="results tablesorter table table-striped table-bordered table-condensed table-hover">-->
                    <table id="ladder" class="results table table-striped table-bordered table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th style="text-align:left; padding-left:10px; white-space: no-wrap;">Name</th>
                                <th class="header-center">Played</th>
                                <th class="header-center">Won</th>
                                <th class="header-center">Win Ratio</th>
                                <th class="header-center">Ave Points</th>
                                <th class="header-center">Ave Position</th>
                                <th class="header-center">Total Points</th>
                                <th class="header-center">Movement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in displayTable | filter:gotPoints | orderBy: ['-points','-won', 'played', 'name']">
                               <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                               <td style="text-align:left; padding-left:10px;"><a href="{{result.url}}">{{result.name}}</a></td>
                               <td>{{result.played}}</td>
                               <td>{{result.won}}</td>
                               <td>{{result.won / result.played * 100 | number:2}} %</td>
                               <td>{{result.points / result.played | number:2}}</td>
                               <td>{{result.averagePosition | number:2}}</td>
                               <td style="color: blue"><b>{{result.points}}</b></td>
                                <td>
                                    <div ng-if="result.movement > 0">
                                        <img src="../images/down.png" alt=""> {{result.movement}}
                                    </div>
                                    <div ng-if="result.movement < 0">
                                        <img src="../images/up.png" alt=""> {{result.movement * - 1}}
                                    </div>
                                    <div ng-if="result.movement == 0">
                                        -
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Event History</h3>
                <table class="results table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>No.</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Tournaments</th>
                    </tr>
                    <tr ng-repeat="event in statistics.previousEvents">
                        <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                        <td><a href="{{event.url}}">{{event.eventDate}}</a></td>
                        <td>{{event.location}}</td>
                        <td>{{event.noOfTournaments}}</td>
                    </tr>
                </table>
            </div>
            <hr>
        </div>
        <br/>
        <h3>Season wrap up</h3>
        <div class="col-lg-12">
            <p>
                As the last of the 2013 summer heat was leaving for the northern hemisphere, Brian's new hobby of tournament poker was suggested as a possible
                recreational excuse to gather the x-chromosome parents of Augusta Square together for a night of cards, banter and the obligatory alcohol
                intake. Lots of interest at an afternoon BBQ initiated a verbose email documenting the proposed game structure and rules. It wasn't long
                into early April that Ben had offered his abode as the base for the first tournament.
            </p>
            <div class="col-lg-4" style="float:right;">
            <table>
                  <tr>
                      <td><img src="../images/players/2013/ben_champion.jpg" alt="picture1" style="float:left;"></td>
                  </tr>
                  <tr>
                      <td style="font-size:8pt; align: center;">Champion Ben struggles to hold the </br>heavweight gold trophy.</td>
                  </tr>
              </table>
          </div>
            <p>
                Eight excited players ventured to the felt readying themselves for what was to become one of five tournaments held over the next seven months.
                Players quickly got up to speed with the winning hands, betting strategies, tournament rules and general etiquette to create a fun atmosphere over
                a few cold ones.
            <p>
            </p>
                Michael's presence was known to be a once-off as he was already packed and looking west to his new Perth chapter and whose unlucky two last places for the night
                meant he didn't have any major impact on the final table placing. Little did we know as people departed for the night that Ben's good
                performances were to last the whole season, and with the benefit of hindsight, maybe the writing was already on the wall.
            </p>
            <p>
                The second and third tournaments held at Brian's and Steve's respectively showed Ben's consistency whilst Mark V's attendance also showed that
                he could quickly get up speed with the game rules, gathering numerous points via two consecutive first place finishes at Brian's, and making
                other players wary. Jade's legendary recycle
                bin filling was not detracting from his game plan as he was also surging northwards on the ladder, although some inconsistency did
                stop a real push towards to the top. Brian's form was moving into mid table mediocrity which saw him losing pace with Ben's consistent points gathering.
            </p>
            <p>
                Paul was also starting to gather momentum and by the time he hosted the fifth event himself, he took away the top points to
                reduce Ben's lead, but with Ben having a healthy buffer meant the likelihood of being caught in the remainder of the year
                was diminishing quickly.  Steve's form was heading in the wrong direction and saw him slowly move down the ladder with the form guide reflecting his finishing
                positions, although he does have the top accolade for winning the most bounties!
            </p>
            <p>
                The final double header eight hour marathon poker session at Dave's gave Paul an outside chance of taking out the championship, but Ben was having nothing
                of it and finally ended his first place drought and ensure that he would be crowned the worthy champion for 2013. Dave was also a first time winner leaving
                Steve as the only regular without a top podium finish.
           </p>

            <p>
                The standout player for the year is an easy choice with Ben's consistency showing that although poker has a element of luck, his results show that good players adopting
                the right strategies at the right time can reap rewards.
                Mark V could also make a play for the "best on felt" as his statistics shine above many other players but only mid table due to lack of games. Paul's storming
                second half of the season shows he's one to be wary of, and Brian experience hasn't reaped rewards quite yet, but has been the recipient of some bad beats along the way.
                Steve will be hoping to capture some of his early season form into 2014, whilst Jade and Dave have similar results and on any given day can find themselves in the top spot.
                Mark L's initial win hasn't been repeated and will need some more good results before he can make inroads into the top players, whilst Simon currently is an unknown quantity as he has
                shown that he's capable of winning but needs more games to prove his credentials.......
            </p>

            <p>
                Here's to a successful 2014 poker calendar.....and can anyone knock Ben off his lofty perch?
            </p>

            <footer>
                <p>&copy; BJIT website productions 2014</p>
            </footer>
        </div>
    </div>
    <!-- /container -->
    <script type="text/javascript" src="../js/controllers/homePage.js"></script>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40877102-1', 'iinet.net.au');
        ga('send', 'pageview');

    </script>
</body>
</html>