<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'poker' is referenced the corresponding controller logic -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="season" content="2014">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <link href="../css/theme.default.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/hs_chart.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link href="src/css/jumbotron.css" rel="stylesheet">-->
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tablesorter.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/animations.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-animate.min.js"></script>
    <script type="text/javascript" src="../js/tableSorter.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="../js/animateRows.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="../js/charts/charts.js"></script>
    <script type="text/javascript" src="../js/countdown.min.js"></script>
    <script type="text/javascript" src="../js/charts/hs_chart.js"></script>
    <script type="text/javascript" src="../js/charts/jquery.popupoverlay.js"></script>
    <script type="text/javascript" src="../js/overlay.js"></script>
</head>
<body ng-controller="homePageController" ng-cloak class="yui3-skin-sam">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event history<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2015'" ng-repeat="event in statistics.events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2015'" ng-repeat="player in statistics.playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in statistics.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2014 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="2014Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in statistics.CCXIV_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2014'" ng-repeat="player in statistics.playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2013 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="2013Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in statistics.CCXIII_Events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2013'" ng-repeat="player in statistics.playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="../statistics/statistics.html">Statistics</a>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="jumbotron table_border">
            <h2 class="shadow" id="header1"><span>2014 - 'The Square' Poker Results</span></h2>
            <p id="header2">
                <br/>The second season of "The Square Poker". Scroll down for a season wrap-up.
            </p>
    </div>
    <div class="body-content">
        <div class="col-lg-10">
            <table>
                <tr>
                    <td>
                        <h3 style="white-space:nowrap;">Ladder after event number:</h3>
                    </td>
                    <td style="padding-left:10px;">
                        <select ng-model="eventId" ng-change="tableChanged()" id="eventNumber">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Filter: <input type="text" ng-model="player"/></span></td>
                    <td style="padding-left:50px;"><button class="button_border poker_button" ng-model="poker" ng-click="clicked()" ng-hide="displayExtra">Results</button></td>
                    <td><button class="button_border poker_button" ng-model="poker" ng-click="clicked()" ng-show="displayExtra">Close results</button></td>
                    <td><button class="button_border poker_button my_popup_open" ng-model="poker" ng-click="displayPoints()">Points</button></td>
                </tr>
            </table>
            <div class="col-lg-9">
                <div id="my_popup">
                    <div class="table_border" id="container" style="width:800px; height:=1000px; background-color: #F5FFFA; border: solid" ng-show="displayPointsChart"></div>
               </div>
            </div>
            <div class="col-lg-12">
                <div ng-show="displayAllPlayerButton == true" style="float:right; padding-left:"><button class="button_border poker_button my_popup_open" ng-model="poker" ng-click="displayAllPlayers()">Display all players</button></div>
            </div>
            <!-- Season ladder -->
            <table data-ng-table="tableParams" id="ladder" class="table_border results table table-striped table-bordered table-condensed table-hover">
                <span data-ng-init="predicate= 'points'"></span>
                <span data-ng-init="reverse=true"></span>
                <span data-ng-init="player=''"></span>
                <thead>
                    <tr class="first">
                        <th class="first">Position</th>
                        <th style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;"><a href="" ng-click="reverse = predicate == 'name' && !reverse; predicate = 'name'">Name</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'played' && !reverse; predicate = 'played'">Played</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'won' && !reverse; predicate = 'won'">1<sup>st</sup></a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'second' && !reverse; predicate = 'second'">2<sup>nd</sup></a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'third' && !reverse; predicate = 'third'">3<sup>rd</sup></a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'fourth' && !reverse; predicate = 'fourth'">4<sup>th</sup></a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'last' && !reverse; predicate = 'last'">Last</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'winRatio' && !reverse; predicate = 'winRatio'">Win Ratio</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'lastRatio' && !reverse; predicate = 'lastRatio'">Last Ratio</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'averagePoints' && !reverse; predicate = 'averagePoints'">Ave Points</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'averagePosition' && !reverse; predicate = 'averagePosition'">Ave Position</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'cashes' && !reverse; predicate = 'cashes'">Season earnings</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'paid' && !reverse; predicate = 'paid'">In the money</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'cashes' && !reverse; predicate = 'cashes'">In the money%</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'points' && !reverse; predicate = 'points'">Total Points</a></th>
                        <th data-ng-show="predicate == 'points' && reverse == true && player == ''" class="header-center">Movement</th>
                        <th class="header-center">Hide?</th>
                    </tr>
                </thead>
                <tbody class="animate" data-ng-repeat="result in displayTable | filter:player | filter:gotPoints | orderBy:predicate:reverse">
                    <tr data-ng-show="result.hidePlayer == false">
                       <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                       <td style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;">
                           <img src="../images/flags/{{result.nationality}}.png" style="width:30px; height:25px;" alt="flag">
                           <a href="{{result.url}}">{{result.name}}</a>
                       </td>
                       <td data-title="'Played'" sortable="'Played'">{{result.played}}</td>
                       <td>{{result.won}}</td>
                       <td>{{result.second}}</td>
                       <td>{{result.third}}</td>
                       <td>{{result.fourth}}</td>
                       <td>{{result.last}}</td>
                       <td>{{result.winRatio | number:2}}%</td>
                       <td>{{result.lastRatio | number:2}}%</td>
                       <td>{{result.averagePoints | number:2}}</td>
                       <td>{{result.averagePosition | number:2}}</td>
                       <td>{{result.cash | currency}}</td>
                       <td>{{result.cashes | number:0}}</td>
                       <td>{{result.cashes / result.played * 100 | number:2}}%</td>
                       <td style="color: blue; background-color: LightSkyBlue;"><b>{{result.points}}</b></td>
                       <div>
                           <td data-ng-show="predicate == 'points' && reverse == true && player == ''">
                                <div data-ng-if="result.movement > 0">
                                    <img src="../images/down.png" alt=""> {{result.movement}}
                                </div>
                                <div data-ng-if="result.movement < 0">
                                    <img src="../images/up.png" alt=""> {{result.movement * - 1}}
                                </div>
                                <div data-ng-if="result.movement == 0">
                                    -
                                </div>
                            </td>
                        </div>
                        <td><input type='checkbox' data-ng-click="clearPlayer()" ng-model="result.hidePlayer" checked="result.hidePlayer"/></td>
                    </tr>
                    <tr id="positionResults" data-ng-show="displayExtra">
                        <td colspan="2" style="text-align:left;"><pre>Position / Players</pre></td>
                        <td colspan="11" style="text-align:left; font-family:courier-new;"><pre>{{result.positions}}</pre></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div class="col-lg-12">
            <h3>Season wrap up</h3>
            <p>
                As players removed their inaugral season P plates, and matured into top notch finely tuned poker machines, the second season was going to
                have more twists and turns than two snakes making out. The new years hangovers had only just receded before 5 players headed over to
                the home of Poker (Ben's) for the first of 7 single game events over the next 12 months.
            </p>
            <p>
                Andy finally made a game, and Ben showed off his technical skills with the blinds on the big screen. Brian took the honours with Ben offering
                prophetic words in his commentary "will Brian's dominance be a sign of things to come in 2014"?
            </p>
            <p>
                As daylight follows nighttime, Jades full beer follows empty beer, Brian hosted the event after Ben, with 7 players enjoying the new super bonus idea. Andy
                making his second game in a row along with most of the usual suspects watching in awe as Mark V again took out the honours at his favourite
                poker location, with Brian taking the runners-up spot.
            </p>
            <p>
                Mark V hosted event 3, with 8 players now offering a bigger crowd for Mark to show off his culinary skills. We also welcomed
                two new players, Simon M (renamed to Simon W) due to naming conflicts (read that as bad website design by Brian), and Junior, providing
                some Brazilian flair to the event. Again Brian took out the honours followed by Dave (who had been swotting up on the game) making
                a well earned foray into the medal positions. And of course, it was be remiss of me not to mention the lemon trees!
            </p>
            <p>
                Yet another new venue for event 4, with players given a workout as they ventured up to the oxygen reduced altitude of
                Mark L's, happy in the knowledge that Simon W wasn't turning up in his Borat party attire! The host Mark L didn't disappoint though, and took out second place to Ben, despite being the "drunkest on ground" due
                to his early start during food preparations. Good nosh though - excellent gravy!
            </p>
            <p>
                Event 5 had to be remembered for the most formal dining experience. Simon W offering up to a new record of 9 players, an
                extravagant sea food paella that would rate highly on any episode of Master Chef. We also welcomed a new player Carlos, that added to our international
                line-up and had Brian scouring the internet for a new flag for the website. As for the game, home advantage nearly
                came to bear with Simon W just missing out of the top spot, as Brian pipped him to the post.
            </p>
            <p>
                Event 6 again returned to Ben's who has a very understanding wife who allows Ben to host numerous times. A multi-table situation was almost on the cards
                until some late scratchings ended up with another record of 10 players filling the 10 seater table and pushing the limits of the recycling bin.
                The topsy turvy battle eventually gave Junior bragging rights as he gained his first win in only 3 attempts.
                Carlos finished in a healthy 3rd, with Jade in 2nd spot, an Englishman filling in a South American sandwich.
            </p>
            <p>
                And to finish up the season, Brian hosted 5 players in a pre-christmas pizza laden event, although Brian was already
                guaranteed the championship, as Ben was too far behind to bridge the gap. Another fitting finale saw Junior take the runner
                up position followed by Ben coming in
                third place and consolidating the 2014 silver medal position. Junior's second place finish meant he received the championship bronze
                medal after a last gasp, line pipping, overtaking manoeuver, leaving Dave and Jade in his poker exhaust fumes. No doubt
                Junior will remind them at regular intervals going forward.
                Brian took the 1st place points, ending the season with 4 wins out of 7 games, and crowned  2014 champion. Similar
                to Ben in 2013, he held the top spot on the ladder from game one to the season completion.
            </p>
            <p>
                2014 - So many memories and beers consumed. Season 3 can only get better as players skill levels improve, so here's to a successful 2015 poker calendar!
            </p>
        </div>

        <div class="col-lg-7">
            <footer>
                <p>&copy; BJIT website productions <span id="currentYear"></span></p>
            </footer>
        </div>

    </div>
    <!-- /container -->
    <script type="text/javascript" src="../js/controllers/homePage.js"></script>
    <script>
           document.getElementById("currentYear").innerHTML = new Date().getFullYear();
    </script>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40877102-1', 'iinet.net.au');
        ga('send', 'pageview');

    </script>
</body>
</html>