<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'poker' is referenced the corresponding controller logic -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="season" content="2014">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <link href="../css/theme.default.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/hs_chart.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link href="src/css/jumbotron.css" rel="stylesheet">-->
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tablesorter.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/animations.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-animate.min.js"></script>
    <script type="text/javascript" src="../js/tableSorter.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="../js/animateRows.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="../js/charts/charts.js"></script>
    <script type="text/javascript" src="../js/countdown.min.js"></script>
    <script type="text/javascript" src="../js/charts/hs_chart.js"></script>
    <script type="text/javascript" src="../js/charts/jquery.popupoverlay.js"></script>
    <script type="text/javascript" src="../js/overlay.js"></script>
</head>
<body ng-controller="homePageController" ng-cloak class="yui3-skin-sam">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="navigationBar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home</a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-no-collapse="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2014 Events<b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <li ng-show="event.year == '2014'" ng-repeat="event in statistics.events | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="player.year == '2014'" ng-repeat="player in statistics.playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="extra in statistics.extras"><a href="{{extra.url}}">{{extra.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">2013 History<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="2013Results.html">Season wrap up</a></li>
                        <li class="menu_year">&nbsp;Events</li>
                        <li ng-repeat="event in statistics.previousEvents | orderBy: ['-no']"><a href="{{event.url}}">{{event.eventDate}} @ {{event.location}}</a></li>
                        <li class="menu_year">&nbsp;Players</li>
                        <li ng-show="player.year == '2013'" ng-repeat="player in statistics.playerMenuDropdown | orderBy: ['name']"><a href="{{player.url}}">{{player.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="../statistics/statistics.html">Statistics</a>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="jumbotron table_border">
            <h2 class="shadow" id="header1"><span>2014 - 'The Square' Poker Results</span></h2>
            <p id="header2">
                Here you'll find all the latest scores from each tournament held,
                latest news, statistics and ammunition for bragging rights :)
            </p>
    </div>
    <div class="body-content">
        <div ng-hide="newsItem == ''">
            <h4 style="color:blue;" class="hidden" id="newsTicker"><b><i><span id="news">Latest News: </span></i></b>{{newsItem}}</h4>
        </div>
        <table border="0" ng-show="displayCountdown">
            <tr>
                <td id="countdown-text">Time to next event: <b><span id="countdown-holder"></span></b</td>
            </tr>
        </table>
        <div class="col-lg-10">
            <table>
                <tr>
                    <td>
                        <h3 style="white-space:nowrap;">Ladder after event number:</h3>
                    </td>
                    <td style="padding-left:10px;">
                        <select ng-model="eventId" ng-change="tableChanged()" id="eventNumber" class="button_border">
                            <option ng-repeat="tournament in statistics.events" ng-selected="{{statistics.events.length == $index + 1}}" value="{{$index + 1}}">{{$index + 1}}</option>
                        </select>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Filter: <input type="text" ng-model="player"/></span></td>
                    <td style="padding-left:50px;"><button class="button_border poker_button" ng-model="poker" ng-click="clicked()" ng-hide="displayExtra">Results</button></td>
                    <td><button class="button_border poker_button" ng-model="poker" ng-click="clicked()" ng-show="displayExtra">Close results</button></td>
                    <td><button class="button_border poker_button my_popup_open" ng-model="poker" ng-click="displayPoints()">Points</button></td>
                </tr>
            </table>
            <div class="col-lg-9">
                <div id="my_popup">
                    <div class="table_border" id="container" style="width:800px; height:=1000px; background-color: #F5FFFA; border: solid" ng-show="displayPointsChart"></div>
               </div>
            </div>
            <div class="col-lg-12">
                <div ng-show="displayAllPlayerButton == true" style="float:right; padding-left:"><button class="button_border poker_button my_popup_open" ng-model="poker" ng-click="displayAllPlayers()">Display all players</button></div>
            </div>
            <!-- Season ladder -->
            <table data-ng-table="tableParams" id="ladder" class="table_border results table table-striped table-bordered table-condensed table-hover">
                <span data-ng-init="predicate= 'points'"></span>
                <span data-ng-init="reverse=true"></span>
                <span data-ng-init="player=''"></span>
                <thead>
                    <tr class="first">
                        <th class="first">Position</th>
                        <th style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;"><a href="" ng-click="reverse = predicate == 'name' && !reverse; predicate = 'name'">Name</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'played' && !reverse; predicate = 'played'">Played</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'won' && !reverse; predicate = 'won'">1<sup>st</sup></a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'second' && !reverse; predicate = 'second'">2<sup>nd</sup></a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'third' && !reverse; predicate = 'third'">3<sup>rd</sup></a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'fourth' && !reverse; predicate = 'fourth'">4<sup>th</sup></a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'last' && !reverse; predicate = 'last'">Last</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'winRatio' && !reverse; predicate = 'winRatio'">Win Ratio</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'lastRatio' && !reverse; predicate = 'lastRatio'">Last Ratio</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'averagePoints' && !reverse; predicate = 'averagePoints'">Ave Points</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'averagePosition' && !reverse; predicate = 'averagePosition'">Ave Position</a></th>
                        <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'points' && !reverse; predicate = 'points'">Total Points</a></th>
                        <th data-ng-show="predicate == 'points' && reverse == true && player == ''" class="header-center">Movement</th>
                        <th class="header-center">Hide?</th>
                    </tr>
                </thead>
                <tbody class="animate" data-ng-repeat="result in displayTable | filter:player | filter:gotPoints | orderBy:predicate:reverse">
                    <tr data-ng-show="result.hidePlayer == false">
                       <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                       <td style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;">
                           <img src="../images/flags/{{result.nationality}}.png" style="width:30px; height:25px;" alt="flag">
                           <a href="{{result.url}}">{{result.name}}</a>
                       </td>
                       <td data-title="'Played'" sortable="'Played'">{{result.played}}</td>
                       <td>{{result.won}}</td>
                       <td>{{result.second}}</td>
                       <td>{{result.third}}</td>
                       <td>{{result.fourth}}</td>
                       <td>{{result.last}}</td>
                       <td>{{result.winRatio | number:2}}%</td>
                       <td>{{result.lastRatio | number:2}}%</td>
                       <td>{{result.averagePoints | number:2}}</td>
                       <td>{{result.averagePosition | number:2}}</td>
                       <td style="color: blue; background-color: LightSkyBlue;"><b>{{result.points}}</b></td>
                       <div>
                           <td data-ng-show="predicate == 'points' && reverse == true && player == ''">
                                <div data-ng-if="result.movement > 0">
                                    <img src="../images/down.png" alt=""> {{result.movement}}
                                </div>
                                <div data-ng-if="result.movement < 0">
                                    <img src="../images/up.png" alt=""> {{result.movement * - 1}}
                                </div>
                                <div data-ng-if="result.movement == 0">
                                    -
                                </div>
                            </td>
                        </div>
                        <td><input type='checkbox' data-ng-click="clearPlayer()" ng-model="result.hidePlayer" checked="result.hidePlayer"/></td>
                    </tr>
                    <tr id="positionResults" data-ng-show="displayExtra">
                        <td colspan="2" style="text-align:left;"><pre>Position / Players</pre></td>
                        <td colspan="11" style="text-align:left; font-family:courier-new;"><pre>{{result.positions}}</pre></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-10">
                  <h3>All seasons ladder</h3>
                  <table class="table_border results table table-striped table-bordered table-condensed table-hover" id="ladder">
                      <span data-ng-init="predicate= 'points'"></span>
                      <span data-ng-init="reverse=true"></span>
                      <tr>
                          <th>Position</th>
                          <th style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;"><a href="" ng-click="reverse = predicate == 'name' && !reverse; predicate = 'name'">Name</a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'played' && !reverse; predicate = 'played'">Played</a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'won' && !reverse; predicate = 'won'">1<sup>st</sup></a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'second' && !reverse; predicate = 'second'">2<sup>nd</sup></a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'third' && !reverse; predicate = 'third'">3<sup>rd</sup></a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'fourth' && !reverse; predicate = 'fourth'">4<sup>th</sup></a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'last' && !reverse; predicate = 'last'">Last</a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'winRatio' && !reverse; predicate = 'winRatio'">Win Ratio</a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'lastRatio' && !reverse; predicate = 'lastRatio'">Last Ratio</a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'averagePoints' && !reverse; predicate = 'averagePoints'">Ave Points</a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'averagePosition' && !reverse; predicate = 'averagePosition'">Ave Position</a></th>
                          <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'points' && !reverse; predicate = 'points'">Total Points</a></th>
                      </tr>
                      <tbody class="animate" data-ng-repeat="result in allSeasonsLadder | filter:player | filter:gotPoints | orderBy:predicate:reverse">
                         <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                         <td style="text-align:left; white-space:nowrap;">
                             <img src='../images/flags/{{result.nationality}}.png' style="width:30px; height:25px;" alt="flag">
                             <a href="{{result.url}}">{{result.name}}</a>
                         </td>
                         <td>{{result.played}}</td>
                         <td>{{result.won}}</td>
                         <td>{{result.second}}</td>
                         <td>{{result.third}}</td>
                         <td>{{result.fourth}}</td>
                         <td>{{result.last}}</td>
                         <td>{{result.winRatio | number:2}} %</td>
                         <td>{{result.lastRatio | number:2}} %</td>
                         <td>{{result.averagePoints | number:2}}</td>
                         <td>{{result.averagePosition | number:2}}</td>
                         <td style="color: blue; background-color: LightSkyBlue;"><b>{{result.points}}</b></td>
                     </tr>
                  </table>
              </div>
        <div class="col-lg-10">
            <h3>Recent form..... (Each players last 5 results)</h3>
            <table class="table_border results table table-striped table-bordered table-condensed table-hover" id="ladder">
                <tr>
                    <th>Position</th>
                    <th style="text-align:left; padding-left:10px;">Name</th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'played' && !reverse; predicate = 'played'">Played</a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'won' && !reverse; predicate = 'won'">1<sup>st</sup></a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'second' && !reverse; predicate = 'second'">2<sup>nd</sup></a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'third' && !reverse; predicate = 'third'">3<sup>rd</sup></a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'fourth' && !reverse; predicate = 'fourth'">4<sup>th</sup></a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'last' && !reverse; predicate = 'last'">Last</a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'winRatio' && !reverse; predicate = 'winRatio'">Win Ratio</a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'lastRatio' && !reverse; predicate = 'lastRatio'">Last Ratio</a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'averagePoints' && !reverse; predicate = 'averagePoints'">Ave Points</a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'averagePosition' && !reverse; predicate = 'averagePosition'">Ave Position</a></th>
                    <th class="header-center"><a href="" data-ng-click="reverse = predicate == 'points' && !reverse; predicate = 'points'">Total Points</a></th>
                    <th>Position/Players</th>
                </tr>
                <!--<tr ng-repeat="result in formTable | filter:player | filter:gotPoints | orderBy: ['-points', 'played', '-won', 'averagePosition', 'name']" >-->
                <tbody class="animate" data-ng-repeat="result in formTable | filter:player | filter:gotPoints | orderBy:predicate:reverse">
                   <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                   <td style="text-align:left; padding-left:10px;">
                       <img src='../images/flags/{{result.nationality}}.png' style="width:30px; height:25px;" alt="flag">
                       <a href="{{result.url}}">{{result.name}}</a>
                   </td>
                   <td>{{result.played}}</td>
                   <td>{{result.won}}</td>
                   <td>{{result.second}}</td>
                   <td>{{result.third}}</td>
                   <td>{{result.fourth}}</td>
                   <td>{{result.last}}</td>
                   <td>{{result.won / result.played * 100 | number:2}} %</td>
                   <td>{{result.last / result.played * 100 | number:2}} %</td>
                   <td>{{result.averagePoints | number:2}}</td>
                   <td>{{result.averagePosition | number:2}}</td>
                   <td style="color: blue; background-color: LightSkyBlue;"><b>{{result.points}}</b></td>
                   <td>{{result.positionPlayers}}</td>
               </tr>
            </table>
        </div>
        <br/>
        <div class="col-lg-7">
            <footer>
                <p>&copy; BJIT website productions 2014</p>
            </footer>
        </div>

    </div>
    <!-- /container -->
    <script type="text/javascript" src="../js/controllers/homePage.js"></script>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40877102-1', 'iinet.net.au');
        ga('send', 'pageview');

    </script>
</body>
</html>