<!DOCTYPE html>
<html lang="en" ng-app="poker" id="ng-app">
<!-- the ng-app name 'poker' is referenced the corresponding controller logic -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="season" content="2017">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Poker Results</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/poker.css" rel="stylesheet">
    <link href="../css/theme.default.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/hs_chart.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link href="src/css/jumbotron.css" rel="stylesheet">-->
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tablesorter.min.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/animations.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-animate.min.js"></script>
    <script type="text/javascript" src="../js/tableSorter.js"></script>
    <!-- temp local hosting until prod release -->
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="../js/animateRows.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="../js/charts/charts.js"></script>
    <script type="text/javascript" src="../js/countdown.min.js"></script>
    <script type="text/javascript" src="../js/charts/hs_chart_2017.js"></script>
    <script type="text/javascript" src="../js/charts/jquery.popupoverlay.js"></script>
    <script type="text/javascript" src="../js/overlay.js"></script>
</head>
<body ng-controller="homePageController" ng-cloak class="yui3-skin-sam">

    <menus data-ng-controller="menusController"></menus> <!-- Custom directive to show all the menu items - see js/directives/menus.js for details -->

    <div class="container">

    <div class="jumbotron table_border">
            <h2 class="shadow" id="header1"><span>2017 - 'The Square' Poker Results</span></h2>
            <p id="header2">
               Another great season of cards, beers and banter!
            </p>
    </div>
    <div class="body-content">

        <br/>

        <div class="col-lg-3">
            <table class="table_border table table-striped table-bordered table-condensed table-hover" id="eventList">
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
                <tr class="event-completed">
                    <td><a href="../events/event.html?event=27">1<sup>st</sup></a></td>
                    <td><a href="../events/event.html?event=27">February 11<sup>th</sup></s></a></td>
                    <td><a href="../events/event.html?event=27">Brian's</a></td>
                </tr>
                <tr class="event-completed">
                    <td><a href="../events/event.html?event=28">2<sup>nd</sup></a></td>
                    <td><a href="../events/event.html?event=28">April 22<sup>nd</sup></a></td>
                    <td><a href="../events/event.html?event=28">Mark V's</a></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3">
            <table class="table_border table table-striped table-bordered table-condensed table-hover" id="eventList">
                <tr class="">
                    <th>Event</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
                <tr class="event-completed">
                    <td><a href="../events/event.html?event=29">3<sup>rd</sup></a></td>
                    <td><a href="../events/event.html?event=29">June 17<sup>th</sup></a></td>
                    <td><a href="../events/event.html?event=29">Simon's</a></td>
                </tr>
                <tr class="event-completed">
                    <td><a href="../events/event.html?event=30">4<sup>th</sup></a></td>
                    <td><a href="../events/event.html?event=30">Aug 12<sup>th</sup></a></td>
                    <td><a href="../events/event.html?event=30">Ben's</a></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3">
            <table class="table_border table table-striped table-bordered table-condensed table-hover" id="eventList">
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
                <tr class="event-completed">
                    <td><a href="../events/event.html?event=31">5<sup>th</sup></a></td>
                    <td><a href="../events/event.html?event=31">October 28<sup>th</sup></a></td>
                    <td><a href="../events/event.html?event=31">Steve's</a></td>
                </tr>
                <tr class="event-completed">
                    <td><a href="../events/event.html?event=32">6<sup>th</sup></a></td>
                    <td><a href="../events/event.html?event=32">November 25<sup>th</sup></a></td>
                    <td><a href="../events/event.html?event=32">Mark L's</a></td>
                </tr>
            </table>
        </div>

    </div>
        <!--Season header and ladders-->
        <div class="col-lg-10">
            <table>
                <tr>
                    <td>
                        <h3 style="white-space:nowrap;">Ladder after event number:</h3>
                    </td>
                    <td style="padding-left:10px;">
                        <select ng-model="eventId" ng-change="tableChanged()" id="eventNumber" class="button_border">
                            <option ng-repeat="tournament in statistics.events" ng-selected="{{statistics.events.length == $index + 1}}" value="{{$index + 1}}">{{$index + 1}}</option>
                        </select>
                    </td>
                    <td class="hideForMobile">&nbsp;&nbsp;&nbsp;&nbsp;Filter: <input type="text" ng-model="player"/></span></td>
                    <td class="hideForMobile"style="padding-left:50px;"><button class="button_border poker_button" ng-model="poker" ng-click="clicked()" ng-hide="displayExtra">Results</button></td>
                    <td class="hideForMobile"><button class="button_border poker_button" ng-model="poker" ng-click="clicked()" ng-show="displayExtra">Close results</button></td>
                    <td class="hideForMobile"><button class="button_border poker_button my_popup_open" ng-model="poker" ng-click="displayPoints()">Points</button></td>
                </tr>
            </table>
            <div class="col-lg-9">
                <div id="my_popup">
                    <div class="table_border" id="container" style="width:800px; height:=1000px; background-color: #F5FFFA; border: solid" ng-show="displayPointsChart"></div>
               </div>
            </div>
            <div class="col-lg-12">
                <div ng-show="displayAllPlayerButton == true" style="float:right; padding-left:"><button class="button_border poker_button my_popup_open" ng-model="poker" ng-click="displayAllPlayers()">Display all players</button></div>
            </div>
            <!-- Season ladder -->
            <table data-ng-table="tableParams" id="ladder" class="table_border results table table-striped table-bordered table-condensed table-hover">
                <thead>
                    <tr class="first">
                        <th class="first">Position</th>
                        <th style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;">Name</th>
                        <th class="header-center">Played</th>
                        <th class="header-center">1<sup>st</sup></th>
                        <th class="header-center">2<sup>nd</sup></th>
                        <th class="header-center">3<sup>rd</sup></th>
                        <th class="header-center">4<sup>th</sup></th>
                        <th class="header-center">Last</th>
                        <th class="header-center">Win Ratio</th>
                        <th class="header-center">Last Ratio</th>
                        <th class="header-center">Ave Points</th>
                        <th class="header-center">Ave Position</th>
                        <th class="header-center">Season earnings</th>
                        <th class="header-center">In the money</th>
                        <th class="header-center">In the money%</th>
                        <th class="header-center">Hosted</th>
                        <th class="header-center">Total Points</th>
                        <th data-ng-show=" class="header-center">Movement</th>
                        <th class="header-center">Hide?</th>
                    </tr>
                </thead>
                <tbody class="animate" data-ng-repeat="result in displayTable | filter:player | filter:gotPoints | orderBy:['-points','played','-won']">
                    <tr data-ng-show="result.hidePlayer == false">
                       <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                       <td style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;">
                           <img src="../images/flags/{{result.nationality}}.png" style="width:30px; height:25px;" alt="flag">
                           <a href="{{result.url}}">{{result.name}}</a>
                       </td>
                       <td data-title="'Played'" sortable="'Played'">{{result.played}}</td>
                       <td>{{result.won}}</td>
                       <td>{{result.second}}</td>
                       <td>{{result.third}}</td>
                       <td>{{result.fourth}}</td>
                       <td>{{result.last}}</td>
                       <td>{{result.winRatio | number:2}}%</td>
                       <td>{{result.lastRatio | number:2}}%</td>
                       <td>{{result.averagePoints | number:2}}</td>
                       <td>{{result.averagePosition | number:2}}</td>
                       <td class="dosh">{{result.cash | currency}}</td>
                       <td class="dosh">{{result.cashes | number:0}}</td>
                       <td class="dosh">{{result.averageCashes * 100 | number:2}}%</td>
                       <td class="dosh">{{result.hosted}}</td>
                       <td style="color: blue; background-color: LightSkyBlue;"><b>{{result.points}}</b></td>
                       <div>
                           <td>
                                <div data-ng-if="result.movement > 0">
                                    <img src="../images/down.png" alt=""> {{result.movement}}
                                </div>
                                <div data-ng-if="result.movement < 0">
                                    <img src="../images/up.png" alt=""> {{result.movement * - 1}}
                                </div>
                                <div data-ng-if="result.movement == 0">
                                    -
                                </div>
                            </td>
                        </div>
                        <td><input type='checkbox' data-ng-click="clearPlayer()" ng-model="result.hidePlayer" checked="result.hidePlayer"/></td>
                    </tr>
                    <tr id="positionResults" data-ng-show="displayExtra">
                        <td colspan="2" style="text-align:left;"><pre>Position/Players</pre></td>
                        <td colspan="11" style="text-align:left; font-family:courier-new;"><pre>{{result.positions}}</pre></td>
                    </tr>
                </tbody>
            </table>
            <table data-ng-table="tableParams" id="ladderMobile" class="table_border results table table-striped table-bordered table-condensed table-hover">
                <thead>
                <tr class="first">
                    <th class="first">Position</th>
                    <th style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;">Name</th>
                    <th class="header-center">Played</th>
                    <th class="header-center">Total Points</th>
                    <th data-ng-show=" class="header-center">Movement</th>
                </tr>
                </thead>
                <tbody class="animate" data-ng-repeat="result in displayTable | filter:player | filter:gotPoints | orderBy:['-points','played','-won']">
                <tr data-ng-show="result.hidePlayer == false">
                    <td>{{$index + 1}}<sup>{{positionSuffix($index + 1)}}</sup></td>
                    <td style="text-align:left; padding-left:10px; width:100px; white-space:nowrap;">
                        <img src="../images/flags/{{result.nationality}}.png" style="width:30px; height:25px;" alt="flag">
                        <a href="{{result.url}}">{{result.name}}</a>
                    </td>
                    <td data-title="'Played'" sortable="'Played'">{{result.played}}</td>
                    <td style="color: blue; background-color: LightSkyBlue;"><b>{{result.points}}</b></td>
                    <div>
                        <td>
                            <div data-ng-if="result.movement > 0">
                                <img src="../images/down.png" alt=""> {{result.movement}}
                            </div>
                            <div data-ng-if="result.movement < 0">
                                <img src="../images/up.png" alt=""> {{result.movement * - 1}}
                            </div>
                            <div data-ng-if="result.movement == 0">
                                -
                            </div>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-lg-12">
            <h3>Season wrap up</h3>
            <p>
                The 2017 poker fifth season had 6 events for the August Square poker fraternity to frequent, with Brian the
                reigning champion hoping for another good season.
            </p>
            <p>
               Brian kicked off the season with 7 people enjoying some summertime pizza, and for once home advantage did not come into play.
               In fact Brian came last and it was Ben that came flying out of the blocks to take the honours with Junior in the runner up spot.
            </p>
            <div class="col-lg-4" style="float:right;">
                <table>
                    <tr>
                        <td><img src="../images/2017_champion.png" height="300" width="300" class="border" alt="picture1" style="float:left;"></td>
                    </tr>
                    <tr>
                        <td style="font-size:8pt; align: center; padding-left:10px;">2016 Champion Brian handing over the trophy to the 2017 champion Brian :)</td>
                    </tr>
                </table>
            </div>
            <p>
                Mark V then hosted the next event with 9 players fighting it out on a balmy Autumn evening. Making amends for his last place
                finish, Brian turned the tables around and grabbed the main prize. Andy also gathered some well earned points on the ladder with his second place. Ben
                still held onto the lead on the ladder with a 3 point gap to Brian.
            </p>
            <p>
              Simon offered up his abode and his customary paella dish for the third event and it was Steve's time to shine as he won a close
                and hard fought victory against Carlos for the top spots. With Ben unable to make the event due to illness, there was 3 way
                tie at the top of the ladder with Brian, Steve and Ben all on 21 points, but Ben still in 1st as he had played less games.
            </p>
            <p>
              Ben was next to host with 7 players fighting it out with guest commentary by Mark L. Ben again took the honours with Mark L in
                second place. Ben topped the ladder with a 4 point buffer ahead of Brian.
            </p>
            <p>
                The penultimate game had Steve hosting a new square record of 14 players, so lots of points were on offer. A two table event
                saw three new players making their debuts, Andrew L, Kevin and Jacob. A long night of cards eventuated with Brian taking all the
                points, with Jade in second and Ben in third. The top two ladder positions swapped places with Brian now 2 points ahead of Ben
                with one game to go.
            </p>

            <p>
                With the final game taking place at Mark L's, nine players enjoyed some pre-festive spirit with some great
                pre-game food preparations. The game itself played out with Ben going out in fourth, which meant Brian would take
                out the season and did so in style, winning the last game, with Dave in second and Steve in third.
            </p>
            <p>
                Despite getting his first last place in 5 years on the first event, Brian managed to claw enough points back
                with the remaining games, and win 3 out of the 6 by season end to take out the gold medal and 66 points.
            </p>
            <p>
                Ben accumulated 55 points after good placings in all games and winning 2 games out of 5 to take out the silver medal
                Who knows what the table may have looked like if he wasn't sick for one of the events...but you gotta be in it, to win it.
            </p>
            <p>
                Steve played a straight bat throughout the season with one win and ended up with a very respectable bronze medal to add
                to his medal collection.
            </p>
            <p>
                Dave ended up just missing out the medals with his customary 4th place finishing on 31 points, and at the time of
                writing, Dave is 4th on the all seasons ladder and also 4th on the recent form ladder. Go figure :)
            </p>

            <p>Wishing everyone a wonderful festive season with family and friends. Raising a glass to hopefully a wonderful 2018 and
                another great year of poker.</p>

        </div>
        <div data-ng-include="'../templates/footer.html'"></div>
    </div>
    <!-- /container -->
    <script type="text/javascript" src="../js/controllers/homePage.js"></script>
    <script type="text/javascript" src="../js/controllers/menusController.js"></script>
    <script type="text/javascript" src="../js/directives/menus.js"></script>
    <div data-ng-include="'../templates/googleAnalytics.html'"></div>
</body>
</html>